[2018-05-26 10:38] HaGuesto opened #10 "Installation firebase deploy requirements"
To execute
`$ firebase deploy --only firestore:rules`
mentioned in the installation procedure the npm package [firebase-tools](https://github.com/firebase/firebase-tools) has to be installed.

After that you have to run
`$ firebase login`
to authenticate and
`$ firebase use --add`
to add your project.

Then
`$ firebase deploy --only firestore:rules`
can be executed.

[2018-05-26 11:09] bfirsh opened #11 "Write correct firestore security rules and test them"
Firestore doesn't make testing easy, but it is essential.

- [x] products
- [x] profiles
  - [ ] can only create profile for organization if invite exists
- [x] boxes
- [x] organizations
- [ ] make tests run in CI

## Todo

figure out how to do security rules for first user. only allow creating profiles for an organization if there are no other users in the organization? do it as a cloud function?

[2018-05-26 15:19] #10 closed

[2018-05-26 17:02] bfirsh opened #12 "Handle redux-firestore errors"
If you do not have the correct permissions, it just sits loading forever without returning an error or showing an error in the console. We should figure out how to handle these properly.

See also https://github.com/prescottprue/react-redux-firebase/issues/478

[2018-05-27 05:31] bfirsh opened #14 "Use npm version of formik-material-ui"
https://github.com/stackworx/formik-material-ui/issues/8

[2018-05-28 09:46] bfirsh opened #18 "Make a box"
## Summary

Create a box full of products ready to be put in the warehouse. Typically done as part of a sorting process.

## User stories

...

## Related issues

...

[2018-05-28 09:47] bfirsh opened #19 "[Epic] Warehouse box management"
- [ ] Make a box #18
- [ ] Find a box #20
...

[2018-05-28 09:48] bfirsh opened #20 "Find a box"
## Summary
...

## User stories
...

## Wireframes
Second version (check the clickable version [here](https://xd.adobe.com/view/e4e85f42-4d6c-4d70-4a81-fd33d230dce8-92d9/))
- You can manually only select status: available, reserved (for internal) and lost. Other statuses only through making and processing orders.
- Filter button filters statuses and by default only show available boxes.
- Edit scr

[2018-05-28 10:00] bfirsh opened #21 "Sign up process should add you to an organisation"
The first iteration of this could be a menu which lets you select an organisation.

A more realistic process would use some kind of invitation process so people can only join organisations they are allowed to join.

[2018-05-28 10:01] bfirsh opened #22 "Forgotten password"
When signing in, there should be a link to a page that lets you reset your password.

Firebase have built in APIs to help with this: https://firebase.google.com/docs/auth/web/manage-users#send_a_password_reset_email

[2018-05-28 10:01] bfirsh opened #23 "Change password"
There should be a form that allows users to change their password. It could be linked to just above the "Sign out" link in the menu.

You'll want to use this API method: https://firebase.google.com/docs/auth/web/manage-users#set_a_users_password

[2018-05-28 10:07] bfirsh opened #24 "Script to set up a bunch of test data in development"
## Problem

To get started in development, you have to create a bunch of test data to get productive. It is also hard to test whether UIs scale up to the amount of data that will be used in production.

## Proposed solution

A script which bootstraps a load of fake test data.

[2018-05-28 10:28] bfirsh opened #25 "Box scanner"
Scan boxes to figure out what their status is, move them to different warehouses, queue them up for an order, etc.

This is probably going to be a component of other features but putting it here to document how we might implement it.

## Implementation

The current app uses QR readers and URLs. We might be able to build a reader directly into the web app: https://github.com/schmich/instascan

Mayb

[2018-05-28 15:15] bfirsh opened #26 "Decide on a name"
Current ideas revolving around "Box"...

BoxShop
BoxHouse
BoxHub
BoxAid
DropBox (oh wait)
Box Box Box

[2018-05-28 15:46] bfirsh opened #27 "[Epic] Administration interface"
Some things we need, off the top of my mind:

- [ ] A superuser flag on users that lets them manage organisations and other users
- [ ] An interface for managing users
- [ ] An interface for managing organisations

[2018-05-28 15:53] bfirsh opened #28 "[Epic] Offline support"
Based on user feedback from Khora, IHA, and Drop Shop, it seems pretty essential that we need some kind of offline support to deal with short drops in connectivity.

We need to think about:

- What things need to work offline. We can save a lot of effort if we accept that non-essential things won't work offline.
- How to set user expectation ("you've been offline for 3 hours, so this data might be

[2018-05-28 15:54] bfirsh opened #29 "Experiment with offline support in Firestore"
https://firebase.google.com/docs/firestore/manage-data/enable-offline

It's probably worth us doing this sooner rather than later to get an idea of how well it works. Will need support from https://github.com/green-arrow/react-firestore/ I think.

See also #28

[2018-05-28 19:54] barto74 opened #30 "Make a wireframe for box ordering process"

[2018-05-28 19:56] barto74 opened #31 "Make a wireframe for the onboarding"

[2018-05-29 05:45] barto74 opened #32 "Create a data model"

[2018-05-29 06:45] barto74 opened #33 "How to keep track of warehouse quality?"
When you look for boxes, sometimes they're unfindable. We have to design our dropapp to minimise the amount of boxes getting lost. If a certain percentage of the boxes that users look for are not being found, dropapp could advice to run an inventory.
(an inventory in the old dropapp was made by marking all boxes in the warehouse as 'lost' and scanning all QR codes to move them back into the wareho

[2018-05-29 07:43] barto74 opened #35 "Rationing of products"
Certain products can be only bought a specific number of, within each cycle.
So in a family with two boys, and a t-shirt for boys ration of 2, they can buy 4.
Also some products can be only bought one time in a longer timeframe.

[2018-05-29 07:45] barto74 opened #36 "People searching/adding"
When you create new customers in the shop, the system should advice if similar names are already present (as it happens often that you create a duplicate user account, which gives people more goods than others)

[2018-05-29 09:13] barto74 commented on #31
See the first draft of the wireframe here. Please comment @bfirsh @HaGuesto
<img width="1126" alt="screen shot 2018-05-29 at 12 10 34" src="https://user-images.githubusercontent.com/38283578/40649416-89701704-6339-11e8-86e1-f44c7f87ad5d.png">

[2018-05-29 09:17] barto74 commented on #30
This is a flow of the process of ordering a box
![order process flow](https://user-images.githubusercontent.com/38283578/40649640-1a6c150a-633a-11e8-8e9e-3c2daacf63ca.png)

[2018-05-29 09:58] bfirsh opened #37 "Try something simpler than react-redux-firestore"
It has been endless pain. https://github.com/green-arrow/react-firestore might work better.

[2018-05-29 12:10] bfirsh opened #38 "Analytics"
Google Analytics is probably good starting point.

[2018-05-29 12:11] bfirsh opened #39 "Exception tracking"
Sentry has worked well for JS projects in the past for me. Open to other suggestions.

[2018-05-29 12:15] bfirsh opened #40 "Backups"
https://www.npmjs.com/package/firestore-backup

Would be nice if we can backup the auth database too, somehow.

[2018-05-29 14:36] bfirsh commented on #37
ok tried react-firestore and it works great. Bye bye react-redux-firestore

[2018-05-29 14:59] barto74 opened #41 "Creation of QR-code labels"

[2018-05-29 15:03] barto74 commented on #41
The old dropapp relies on the QR API at qrserver.com. Is that the best solution?

[2018-05-29 15:04] bfirsh opened #42 "Handle errors in form submissions"
At the moment we very lazily just print the error to the console. This should be handled properly and displayed to the user.

Firebase sometimes returns some errors that would be relevant to form validation. These should be displayed inline in the correct form field. (E.g. when signing up, it says "this email is already in use".)

[2018-05-29 15:12] bfirsh opened #43 "Refactor sign in and sign up forms to use plain Firebase API"
So we can remove react-redux-firebase. It has been nothing but pain.

This will mostly be an easy swap, apart from react-redux-firebase magically creates profiles for us. We need to do that ourselves now.

See also #37.

[2018-05-29 15:13] bfirsh commented on #37
Mostly done. Just #43 left.

[2018-05-29 15:13] #37 closed

[2018-05-29 15:18] bfirsh commented on #41
@barto74 We can probably generate them ourselves pretty easily. I'd also like to have a discussion about:

1) Making sure they are secure
2) Making them smaller so they scan more reliably. (e.g. by using a link shortener)

[2018-05-29 15:19] bfirsh commented on #12
We're scrapping this. See #43

[2018-05-29 15:35] barto74 commented on #41
If we use the QR-codes only from within the app, we don't need to include a full URL. A reference to the type of code ('box', 'order form', etc) and the id, packed into a hash should then be enough. That is more secure, i think.
We only need the API at the moment we create new QR's, so it is not so critical to work offline. No problems with the API have been reported since nov '17, so I would at l

[2018-05-29 15:38] barto74 commented on #18
A live wireframe for this is here: https://xd.adobe.com/view/e4e85f42-4d6c-4d70-4a81-fd33d230dce8-92d9/
<img width="1296" alt="screen shot 2018-05-29 at 18 37 07" src="https://user-images.githubusercontent.com/38283578/40669323-594f8146-636f-11e8-90f0-d77979362921.png">
Comments welcome @bfirsh @HaGuesto

[2018-05-29 15:43] barto74 commented on #41
Actually Google has a nice API to make QR codes. Maybe more safe as you never know when a small third party takes an API down. And another benefit: they allow to make slightly bigger codes, with better error correction, which is very beneficial when labels get damaged.
https://developers.google.com/chart/infographics/docs/qr_codes

[2018-05-29 15:50] barto74 commented on #41
Labels are best made as PDF-files. It's rather easy to make sure that elements are exactly printed on the position where we want them. Experiments with HTML went miserable, lots of differences between browsers and depending on proper user configuration.
It seems that http://pdfkit.org would be a good library to make PDF's in our setup, but i'm curious @bfirsh what you think.
It's something that I

[2018-05-29 16:04] barto74 commented on #41
The procedure as I see it:
To print a batch of QR-codes for boxes, we ask the user how many they want. We generate a bit of random data and create a PDF with all the labels. We might even not have to save that data in a table (as the old dropapp), but just after reading the QR-code for a new box, save that piece of data as an attribute of the box document in firebase. The only reason to save the g

[2018-05-29 18:27] bfirsh opened #44 "Role-based access control"
Roles probably being if you're a volunteer or not, for now. We need to define what each user can and can't do.

## Implementation

https://firebase.google.com/docs/firestore/solutions/role-based-access

[2018-05-29 20:27] barto74 opened #45 "CreateQRLabels: organisation name should be coming from user info"

[2018-05-29 20:28] barto74 opened #46 "CreateQRlabels: generates error message in console"
`Warning: Each child in an array or iterator should have a unique "key" prop.`

[2018-05-29 20:34] barto74 opened #47 "Wireframe for Find a box"

[2018-05-30 08:00] bfirsh opened #48 "Onboarding flow"
We need to on board users in two ways:

* Sign up and create an organisation
* Sign and join an organisation via an invite

## Wireframe

From @barto74 (#31):

<img width="1126" alt="40649416-89701704-6339-11e8-86e1-f44c7f87ad5d" src="https://user-images.githubusercontent.com/40906/40707210-aeaafb1e-63f8-11e8-9a32-37b9e732cad3.png">

## Implementation

We somehow need to create user profiles with

[2018-05-30 08:01] bfirsh commented on #31
succeeded by #48

[2018-05-30 08:01] #31 closed

[2018-05-30 08:01] #41 closed

[2018-05-30 08:04] bfirsh opened #49 "[Epic] Box ordering"
Customers should be able to order products from a warehouse.

## User stories

...

## Wireframes

By @barto74 from #30

![40649640-1a6c150a-633a-11e8-8e9e-3c2daacf63ca](https://user-images.githubusercontent.com/40906/40707342-17285812-63f9-11e8-8181-3453e058c98c.png)

Watch a clickable demo of this process here: https://xd.adobe.com/view/316e96b8-93d5-438e-5c3f-2d5216f7d4f3-475f/
The clickable de

[2018-05-30 08:04] bfirsh commented on #30
succeeded by #49

[2018-05-30 08:04] #30 closed

[2018-05-30 08:17] #46 closed

[2018-05-30 10:28] HaGuesto commented on #48
@barto74 I would formulate the Slack invite a bit different. We should discuss what the role of slack should be. For example only for support...

[2018-05-30 10:34] HaGuesto commented on #18
@barto74 We could change the selection of a product to the same way as in the ordering process. It would create one or two frames more, but in the end the selection of the product would come with less errors. We can guide the volunteers better to choose the right product.

[2018-05-30 10:37] HaGuesto commented on #49
@barto74 Frame 9. I would not add any prediction of the time for delivery.

[2018-05-30 10:38] barto74 commented on #48
@HaGuesto feel free to contribute to the formulation. I think Slack is definitely for support, feature requests.
And about the roles: yes, in the future for sure, but the roles are not in the MVP.

[2018-05-30 10:40] HaGuesto commented on #49
@barto74 frame 11. The colorful dots should contain some information what they stand for.

[2018-05-30 10:40] barto74 opened #50 "MVP delivery"
We need to make a checklist of all the things that needs to be done to hand over our prototype of this week to the IHA people.

- [x] Define how they get support
- [x] Invite them to Slack
- [x] How would the hosting / domain look like during the development process?
- [x] How do we update in git?
- [x] Discuss the option of a second check up visit with paid flights and accomodation.
- [x] Usage o

[2018-05-30 10:45] barto74 opened #51 "Wireframe: add better product selection to make a box"
Same as in box finding

[2018-05-30 10:51] barto74 opened #52 "Make a way to easily edit/translate texts throughout the application"
For example by putting all texts in a database, and make an interface for them. Maybe this could also in future be used to become multilingual.

[2018-05-30 10:52] HaGuesto commented on #50
Discuss the option of a second check up visit? After a month or so?

[2018-05-30 10:52] barto74 commented on #49
To edit the texts throughout the application: #52

[2018-05-30 10:53] barto74 opened #53 "Wireframe: add tooltip to colourful buttons"
Addition to #49

[2018-05-30 11:30] barto74 opened #54 "Design a consistent set of icons for categories, clothes and others"
Consisting of categories which are:
man, woman, adult, boy, girl, child, baby, food, hygiene, other

products (as generic as possible, so users can assign an icon to a new product)
t-shirt, long-sleeve, jumper, trousers, underwear, dress, skirt, shorts, socks, hijab, baby body with legs, w/h legs, hat, gloves, scarf, shoes, boots, blanket, sleeping bag, tent
hygiene: soap, hygiene item bottle, too

[2018-05-30 12:11] HaGuesto commented on #49
@barto74 very useful would be a qr code on the printed packing list / delivery note to move all boxes in the order outside the warehouse.
I think you already added it at the main diagramm.

[2018-05-30 12:26] barto74 opened #55 "Order process: a coordinator wants to put an order on hold and give a comment"

[2018-05-30 12:51] barto74 opened #56 "How to send a nicely formatted page with a pick list, directly from Boxwise to a printer"
The user that triggers the print, has a mobile phone that is not connected to this printer, but ideally a packing list ends up in a printer somewhere at the moment he finished picking an order.
The packing list contains all the boxes packed, the destination and a qr-code that redirects to a page to confirm giving out the order to the customer.

[2018-05-30 12:56] bfirsh commented on #48
This looks great to me.

A little thing: I would agree with @HaGuesto that the Slack invite at that stage doesn't work. It looks like that is the call to action. Getting users onto Slack could be something we do later, after they have started using the app.

[2018-05-30 12:57] barto74 commented on #49
@HaGuesto I think to be generic, we should not distinguish. So 'man' or 'food' is both a category in my examples. Which from my personal experience makes sense, but it is up to the user/organization to decide what the categories are.
Also considering sizing/aging, i would consider that an attribute of the box, no matter what is actually inside. For a man's t-shirt this attribute can be 'S/M/L', fo

[2018-05-30 13:00] #43 closed

[2018-05-30 13:00] barto74 opened #57 "Create menu for product categories"
Each product is part of an category, e.g. Spaghetti is part of the category Food. Until now, categories are hardcoded in `AddProductForm.js`. In the future they should be user manageable.
Categories are used in the product select

## Implementation
- [ ] Categories just need to have a name and an icon for now.  Icons are to be created in #54. Feel free to make a dummy icon as long as the icon data

[2018-05-30 13:03] barto74 commented on #48
I agree to delete it, see the updated wireframe

[2018-05-30 13:04] #45 closed

[2018-05-30 13:38] HaGuesto opened #58 "Prepare for TripAdvisor Hackathon"
What do we need to prepare for the Hackathon with trip Advisor on the 20th of June?
Feel free to add change this issue.

- [x] create template for clear self-contained issues @bfirsh #80
- [x] write first issue examples @bfirsh #145
- [x] create some design tasks
- [x] create some questions
- [x] create a survey
- [x] presentation

[2018-05-30 13:38] bfirsh commented on #18
@barto74 A couple of comments:

1) Have you thought about how the flow would work if you aren't using a QR code? Could just be a button on the scanner page saying "This box does not have a QR code".
2) Is there a reason the QR code scanning is before entering the details? It seems to flow better if you enter the details first, but I can't rationalise why.

[2018-05-30 13:55] barto74 commented on #47
There's a first version of this wireframe. It leaves some questions open that i didnt yet answer:
- Change status: actually only some of those statuses are available to use manually(?)
- Do we need that filter button and what is in it?
- If you tap a box, an edit screen should come up, still need to do that.

https://xd.adobe.com/view/e4e85f42-4d6c-4d70-4a81-fd33d230dce8-92d9/
@bfirsh @HaGuesto pl

[2018-05-30 13:57] barto74 commented on #18
@bfirsh:
1: there should be a manual override, indeed. Will add.
2: in my experience, the flow is: you take a label, you scan it, you start writing on it and filling in the form and you stick it to the box. The other way around would also be possible, for sure. For me it feels a bit indifferent.

[2018-05-30 14:02] barto74 commented on #18
we decided to not make a manual override... we want people to stick to the process.
in the future we might want to fully disable qr usage on organization level if there is a need for it.

[2018-05-30 14:42] barto74 commented on #47
Second version:
- You can manually only select status: available, reserved (for internal) and lost. Other statuses only through making and processing orders.
- Filter button filters statuses and by default only show available boxes.
- Edit screen is made - we should let this part of the wireframe keep aligned with #18

<img width="1133" alt="screen shot 2018-05-30 at 17 38 21" src="https://user-im

[2018-05-30 14:46] barto74 opened #59 "Track creation/modification for all boxes, products, users, organisations, orders"
We would like to see creation date and creating user for everything
And a human readable change log for everything
In a user's log I want to see all creations and modifications for that user.

[2018-05-30 15:15] bfirsh commented on #21
hacked this for now. see #48 for real thing.

[2018-05-30 15:15] #21 closed

[2018-05-30 15:56] barto74 commented on #20
@HaGuesto try to use the live demo, it gives you more of a feel than watching the graphic. 3 and 5 are quite fast steps and as i see required to give some feedback about what you did and where you go.
frame 4: you would be able to select all products (in which also the 'All' option could be available) and then you get all boxes. Which is actually in the old app the default view, but that is quite

[2018-05-30 19:11] bfirsh opened #60 "Basic unit tests for components"
Now we're just using the standard Firebase API, it's going to be much easier to write some tests for components. https://github.com/soumak77/firebase-mock will help.

[2018-05-30 19:13] bfirsh opened #61 "Browser integration tests"

[2018-05-31 07:30] HaGuesto commented on #49
@barto74 generic is good and I agree that the user should decide what his category and products are.
About the attribute: The workflow you describe sounds like a comment field where you sepecify additional information.
If you want to limit what you can put in as a attribute depending on what product it is, then there must be a complete new structure for the user where he can define that (like a si

[2018-05-31 07:49] HaGuesto opened #63 "Add Category in Products menu"

[2018-05-31 10:55] barto74 opened #64 "Make a box UI: things to do"
- [ ] Move some of the classes to a global definition (eg: the logo, the category/product selectors)
- [ ] Icons and labels should be top and bottom

[2018-05-31 11:33] HaGuesto opened #65 "Create select field for products in AddBox dialog"

[2018-05-31 11:40] bfirsh commented on #26
Boxwork

[2018-05-31 11:40] barto74 opened #66 "Choosing 'number' as type for a Textfield should give a numeric keyboard on an iPhone"
## Problem
In makebox-ui, an numeric field is defined, but on iOS it doesn't show a numeric input keyboard.

[2018-05-31 12:27] barto74 opened #67 "Make a global component for category and product selectors"
We will use category and product selection on many places throughout the project and it make sense to define it centrally so that improvements will be deployed everywhere.

[2018-05-31 13:16] barto74 opened #68 "Design changes in menu and header"
### Tasks
- [ ] Hide always the Left menu (like on mobile)
- [ ] display Logo in header
- [ ] display Logout option in top right

[2018-05-31 13:17] HaGuesto opened #69 "Add organization to Box Data"

[2018-05-31 13:18] barto74 opened #70 "In edit box: user should be able to add a qr code after box creation"
In the first mvp there might not yet be a QR scanner available.
We can advice the users to already use barcode labels and then later, when this scanner is working, scan the QR-codes and link them to the box id.
In the same way a user can replace a damaged QR-code.

[2018-05-31 13:20] bfirsh opened #71 "firebase-mock doesn't support references in queries"
https://github.com/soumak77/firebase-mock/issues/78

This makes it hard for us to unit test our firebase queries.

[2018-05-31 13:55] #69 closed

[2018-05-31 14:29] #48 closed

[2018-05-31 15:30] #65 closed

[2018-05-31 15:45] HaGuesto opened #72 "Move querying of Products in Box menu"

[2018-05-31 16:48] bfirsh commented on #26
Boxwise

[2018-05-31 17:01] bfirsh commented on #26
Betterbox

[2018-05-31 17:07] bfirsh commented on #26
Boxcode

[2018-05-31 17:26] bfirsh commented on #26
Boxfarm
Rightbox

[2018-05-31 17:27] bfirsh commented on #26
Boxpack

[2018-05-31 17:29] bfirsh commented on #26
Unbox

[2018-05-31 17:33] bfirsh commented on #26
Boxcloud (oh dear)

[2018-05-31 17:42] bfirsh commented on #26
BoxedIn

[2018-05-31 17:56] bfirsh commented on #26
Robox
Boxbot

[2018-05-31 18:01] bfirsh commented on #26
Boxitive

[2018-05-31 19:18] bfirsh opened #73 "Could we make better use of subcollections?"
We have a lot of things which are siloed within organizations: products, boxes, etc. Perhaps this would be better structured as subcollections.

Advantages of doing it this way:
- A bit neater
- Would mean we don't need to create composite indexes for everything

Disadvantages:
- Might make it harder to do some things in the future when organizations aren't siloed. E.g. listing all available boxes

[2018-05-31 19:21] barto74 commented on #67
CategorySelector and ProductSelector are new components and those rely on the ProductButton component

[2018-05-31 19:21] #67 closed

[2018-05-31 19:23] barto74 opened #74 "Component ProductButton: icon and label should be below each other"
Now they are displayed next to each other.

[2018-05-31 19:29] bfirsh commented on #32
I think this is done, for the MVP at least. :)

[2018-05-31 19:29] #32 closed

[2018-05-31 19:31] bfirsh opened #75 "Edit and delete products"
We have CR but no UD.

[2018-05-31 19:33] bfirsh opened #76 "Add dashboard with links to box management tasks"
See https://github.com/dropapp/dropapp/commit/71ed19cf6c28598909bd58d2cc9f3ec4f5579cda

[2018-05-31 19:34] bfirsh commented on #19
Just gonna close this because it isn't very useful right now and will just be out of date.

[2018-05-31 19:34] #19 closed

[2018-05-31 20:07] bfirsh opened #77 "Add hook to remind you to install dependencies/deploy stuff to firebase"
Like this: https://github.com/frontsideair/yarnhook

It could also check to see if firestore.rules has changed, and remind you to deploy. Probably not best to do that automatically because you mind be pointing at the production environment or something. 😬

[2018-05-31 20:15] barto74 opened #78 "Display the DropApp animation instead of CircularProgress"
There is a loading .gif animation that acts as a loading indicator.
It should be displayed on 50% (its for Retina screens)

[2018-05-31 20:55] #72 closed

[2018-05-31 21:41] bfirsh opened #79 "profile redux state needs an action for starting to fetch to set isFetching"
When you sign out, isFetching is never set again.

[2018-06-01 04:43] HaGuesto commented on #38
@bfirsh What do you mean by Analytics?
Do mean the overview of how many items are stored for each product or something else?

[2018-06-01 04:44] HaGuesto commented on #75
@bfirsh Shouldn't this issue be part of the MVP/milestone?

[2018-06-01 04:52] HaGuesto opened #80 "Contributing guidelines"
We should write down how to:

- [ ] write a test.
- [x] do a Pull Request.
- [ ] write an issue. (with issue templates)
- [x] write a commit.
- [x] join slack!

[2018-06-01 06:15] bfirsh commented on #75
We could probably get away with not having it for the demo on Saturday. ;)

Saying that, I’ll put it in the milestone, but we can do it last. Delete is probably more important.

[2018-06-01 06:17] bfirsh commented on #38
@HaGuesto Product analytics. At the very least, something like Google Analytics to see if the product is being used. Sometime down the line where we want to actually get data about how the product is being used, we could use something like Mixpanel.

[2018-06-01 07:32] bfirsh opened #82 "Add numbers to boxes"
A human-readable 6 digit ID. Do we need to generate this in a non-colliding way, or can accept the odd collision?

[2018-06-01 07:32] #76 closed

[2018-06-01 07:32] bfirsh commented on #18
This is pretty much done. A few other little bits which we will record separately.

[2018-06-01 07:32] #18 closed

[2018-06-01 07:35] bfirsh commented on #80
@barto74 This is important, but not essential for shipping the MVP on Saturday, so I'll remove it. I'll put it at the top of the backlog in our project though. :)

[2018-06-01 07:55] bfirsh opened #83 "How should we deal with duplicate organization names?"
Technically it is not an issue, but it might be confusing for users if there are multiple organizations with the same name. "We're both in the same organization... why are we seeing different boxes?"

[2018-06-01 07:57] bfirsh opened #84 "Zinnebeeld font causes a flash of unstyled content on first load"
We should probably block until the font has loaded.

[2018-06-01 08:19] barto74 opened #85 "Replace FontAwesome by Google Icons"

[2018-06-01 08:21] bfirsh opened #86 "Add created time / user when adding objects"
Pretty simple and we should be doing this ASAP to not leave us with blank data.

[2018-06-01 08:36] bfirsh opened #87 "Add real organization name to join page"
When you join an organization it just displays the organization ID. We should fetch the actual organization.

[2018-06-01 08:36] bfirsh opened #88 "404 page"

[2018-06-01 09:45] barto74 opened #89 "Implement UX changes"
In a new UX sketch we sketched how lists, forms, interface elements, colours and fonts are used.
As much as possible we should style the components according to this sketch in theme.js, to make it easier to quickly create new screens.

The blue color (#009BD9) and the font are part of the Drop App visual identity

- [ ] The visual category/product selection needs some design elaboration. All place

[2018-06-01 10:05] bfirsh commented on #20
<img width="1146" alt="screen shot 2018-06-01 at 12 35 35" src="https://user-images.githubusercontent.com/40906/40835556-6f6cb3c0-659c-11e8-8e56-0239285f5ae3.png">

New wireframe from @barto74 on Slack.

[2018-06-01 10:51] barto74 opened #90 "You should not be able to create a box until you have created products"
## Problem

When you first sign up, there are no products in the system, so you can't create a box. The create box form looks broken because there is nothing in the select menu.

## Proposed solution

If there are no products, you should not be able to create a box. The create box modal should instead display a message telling you to add a product, and link to the products page.

## Future improve

[2018-06-01 10:53] barto74 opened #91 "Make box: product select doesn't show category"

[2018-06-01 10:58] bfirsh opened #92 ""Make a box" should be in menu"
This will mean reorganising the creation of the dialog - it should be global, not just tied to the dashboard.

[2018-06-01 10:59] #91 closed

[2018-06-01 11:25] barto74 opened #93 "On the make a box form, use react-select for product field"
The list of categories and products will be quite long, so react-select enables typing to search.
That would be a good way to be able to postpone making the real visual elements that we have sketched.

[2018-06-01 11:28] #87 closed

[2018-06-01 11:30] bfirsh commented on #93
For tomorrow, I will probably switch all the category/product selects to native selects instead of the material UI overlay. That'll make it much easier to skip through a long list on mobile.

Also: they should be ordered!

[2018-06-01 11:31] bfirsh opened #94 "Add some ordering to products/boxes/categories whereever they're listed"
Something simple is better than a random ordering. We can think more about this after the MVP

[2018-06-01 11:32] bfirsh opened #95 "Pages are sometimes not scrolled to top after navigation on iOS"

[2018-06-01 12:03] barto74 opened #96 "Warehouse design: is our app forcing people to sort on number?"
When we did setup a warehouse with the previous version of the app, we sorted our clothes on piles with the same category. All mens t-shirts together. It is basically what everybody does when storing stuff they want to find again.
Later we learned that with a bigger collection of boxes, this doesn't work well. The stack of shirts is full and a second stack on a random other place is created (with

[2018-06-01 12:04] barto74 commented on #96
@HaGuesto can you please elaborate inside this issue?

[2018-06-01 12:37] bfirsh opened #98 "Signing in is broken for some reason"
First sign in works, subsequent fails.

[2018-06-01 12:38] #39 closed

[2018-06-01 13:26] #88 closed

[2018-06-01 14:04] barto74 opened #103 "Onboarding: last step, don't show button until page is loaded"
In the last step of the organization on boarding, there is a button displayed to continue the process, but the app is still generating the invite link.
Better to not display the button until the content is displayed

[2018-06-01 14:09] barto74 commented on #84
Closed by #101

[2018-06-01 14:09] #84 closed

[2018-06-01 14:14] #86 closed

[2018-06-01 14:23] barto74 opened #104 "A product can have more than one category"
Now our users make a product for **T-Shirt** in category **Man** and another one **T-Shirt** in category **Woman**. They are not related, linked or comparable.
To me it would make sense, if you create a product **T-Shirt** and make that product available in some of the categories (For example in Man, Woman, Boy and Girl).
In this way, it's possible to gather information about all T-Shirts, all Sho

[2018-06-01 14:57] #98 closed

[2018-06-01 15:00] barto74 commented on #26
Box in other languages that i found more or less appealing:
Boks Sunduq (in arabic) Baksa Caixa Scatula Skatolo Kasti Carton Dibba Doboz Bosca Arca Kaxxa Eske Cutie Kutu

The word **Carton** works in many languages and sounds quite friendly
**Dobox** is nice as it is active (Doboz is hungarian)

[2018-06-01 15:03] barto74 commented on #50
1. Delivery notes being written
2. Support in #support channel on our Slack
3. Hosting temporary on drop-app.de subdomain until we close #26
4. Git: we have started working with branches and pull requests, no more directly push to master
5. We started the discussion. @HaGuesto you are in touch about it?!
6. Barcodes are out of MVP.

Everybody agree on closing the issue or is there anything to add?

[2018-06-01 15:20] barto74 opened #106 "Change the CircularProgress loading animation to our own branded one"
## Problem
The CircularProgress component of material-ui is boring.
Additionally, ff you log in the loading circle is not centered yet.

## Solution
We created our own branded animation.
You can find it in /public/images/loading-boxes.gif
Exchange the material-ui circle with our branded one.

[2018-06-01 15:39] barto74 opened #107 "Link back to home page from create organization page"
## Problem

There is no link if you sign up to go back to the home page when we ask to name the orgaization, so users will get stuck on it if the don't intend to complete the process.

## Proposed solution

Add a link to return back to the home page.

[2018-06-01 16:05] bfirsh commented on #25
We can use this to integrate with React!

https://github.com/rubenspgcavalcante/react-instascan

Thanks @rubenspgcavalcante!!

[2018-06-01 16:14] #20 closed

[2018-06-01 17:14] HaGuesto opened #109 "How are Boxes containing deleted products displayed?"
If you delete a product and there is still a box in the database which is referring to that product, an error is thrown when you open Find a box

[2018-06-01 18:07] bfirsh commented on #109
@barto74 Made a good point that we should probably be using delete flags. This will probably make this case easier.

A few options:

1) we leave it pointing at the deleted product
2) we delete the boxes (with confirmation!)
3) we offer the option to move the boxes to another product

[2018-06-01 18:13] bfirsh opened #110 "Make app work when added to home screen"
Will need logos, loading screen, metadata, etc.

[2018-06-01 18:14] barto74 commented on #109
Also to be able to review orders, transactions, stocks, etc in the past, we always need delete flags for everything. I think we should define a delete policy for every kind of deletable item. It might not be the same everywhere.

- For boxes: no reason to assume that those boxes will disappear upon deleting a product, so option 2 is not valid. Option 1: the result is that there are still boxes aro

[2018-06-01 18:24] barto74 opened #111 "AppDrawer has the wrong font"
## Problem

The AppDrawer has still the Roboto font.

## Suggested solution

Move the theme from `components/AppFrame.js` into `theme.js` and set `fontFamily` in the same way as the main theme.

[2018-06-01 19:29] HaGuesto commented on #82
I'm not gonna manage this task today @bfirsh There is too much happening around me. I cannot concentrate.

[2018-06-01 19:33] HaGuesto opened #112 "Style of delete button in producttable"
The column width of the delete button must be restricted.

[2018-06-01 19:45] bfirsh commented on #112
already done that in my local copy. :)

[2018-06-01 19:45] bfirsh commented on #112
Sorry just to be clear - do you mean the problem where the delete button goes off the page?

[2018-06-02 05:25] bfirsh opened #114 "Tidy things up"
We’ve hacked together a lot of things for the MVP, so after it’s over, we should tidy some stuff up, write tests, refactor things.

[2018-06-02 05:26] #75 closed

[2018-06-02 05:26] #109 closed

[2018-06-02 05:27] #112 closed

[2018-06-02 07:35] bfirsh commented on #26
@barto74 @HaGuesto I think we can safely say we've done this, right? ;)

[2018-06-02 07:35] #26 closed

[2018-06-02 07:37] bfirsh opened #118 "Change name"
- [x] buy domains
- [ ] rename everything inside the app
- [ ] rename repository and move to new org
- [ ] point domain at app, ensure SSL works and whatnot work
- [ ] rename Slack
- [ ] rename app on firebase
- [ ] ...

[2018-06-02 07:43] HaGuesto opened #119 "Make human IDs unique"
I spent some thought on this topic the last days. Sorry that my first discription was not clear.
### I would propose the following workflow for a unique human ID creation:
1. When an organization signs up they should be asked "How many locations/piles do you need?" and "Up to how many boxes can be stored in one location? (As a rule of thumb we recommend 30-40)".
2. In our database we create create

[2018-06-02 07:45] barto74 commented on #119
What does that help us with? See also the discussion in #96

[2018-06-02 07:46] #38 closed

[2018-06-02 07:48] barto74 commented on #110
This is done in #116

[2018-06-02 07:48] #110 closed

[2018-06-02 08:30] barto74 commented on #119
I'm also thinking: i like to have numbers that are not ascending, because that generates numbers that are almost the same. Like 728534 and 728543. This is likely going to confuse people, because those boxes are in the same stack as well.
I would rather propose to use a [check digit](https://en.wikipedia.org/wiki/Check_digit) to prevent this.

[2018-06-02 08:31] bfirsh commented on #119
(BTW I have renamed box numbers to "human IDs", so I will use that terminology here.)

I think this is confusing a bunch of issues. The requirements are:

1) Human IDs need to be unique within an organization.
2) They need to be generated offline, somehow. (Or, have a reasonable chance of not colliding when offline.)

This is a complicated problem (see my comment in #117) so I'm not thinking about

[2018-06-02 08:33] #82 closed

[2018-06-02 09:06] bfirsh opened #122 "Hide URL bar on iOS"
I can't remember if this is possible while also retaining native scroll, but worth investigating.

[2018-06-02 09:26] bfirsh opened #123 "Add some helper text to explain what product names should be"
T-Shirts in a Man category should have the name "T-Shirts" not "Men's T-Shirts"

[2018-06-02 09:37] barto74 opened #124 "Setup a dummy marketing page"
So that users that are not logged in arrive at a marketing page (which will be filled later) that can contain a login button.

[2018-06-02 09:45] bfirsh opened #125 "Add names to users"
## Problem

At the moment users are just emails, but it would be nice if there were real names so we could say who created boxes and so on.

## Proposed solution

When you sign up (both creating an organization and via invite), it should ask for your name. This should be stored on your profile.

Your name should be displayed in the menu instead of your email. If they are missing a name, just displ

[2018-06-02 10:02] #103 closed

[2018-06-02 10:03] barto74 commented on #123
I tried to do it, but an helpertext seems only to be allowed in a TextField and not in Field

[2018-06-02 10:04] bfirsh commented on #93
@barto74 are you still working on this or shall I pick it up?

[2018-06-02 10:05] barto74 commented on #93
@bfirsh you should probably take that, will be faster.

[2018-06-02 10:05] bfirsh commented on #123
@barto74 hmmm... I'll have a look. What was the copy you used exactly? (So I don't have to invent something ;)

[2018-06-02 10:11] #95 closed

[2018-06-02 10:13] barto74 commented on #123
Enter a name, like 'T-Shirt' or 'Socks'. Don't reuse the category name here.

[2018-06-02 10:14] barto74 commented on #50
I checked the barcode labels as done, as we are not using barcodes in the mvp.

[2018-06-02 10:15] barto74 commented on #50
I will also check the second visit as done, we discussed/announced it and talked about using the operational warehouse budget for it. The rest of the discussion is for outside the mvp project.

[2018-06-02 10:15] #50 closed

[2018-06-02 10:50] bfirsh commented on #14
We've made modifications to it that need pushing upstream.

[2018-06-02 10:51] #94 closed

[2018-06-02 10:53] #123 closed

[2018-06-02 12:38] bfirsh opened #131 "Make security rule tests run on CI"
We need an encrypted admin key.

[2018-06-02 12:40] bfirsh opened #132 "Write better security rules for creating/joining organizations"
We currently assume that organization IDs are secret, which is not a thing we should assume. We should be clever and only allow you to create profiles if you also have an invite for the organization (probably by setting an `invitedFrom` field on profiles).

If you want to help with this, there is a test suite in `src/__tests__/firestore.rules.test.js`. Instructions on how to set it up is in the re

[2018-06-02 12:41] bfirsh opened #133 "Write better security rules for getting organizations"
Similar to #132, we currently assume organization IDs are secret for getting organization details. We should really be more clever about this - checking that you are in the organization, or have an invite. (Or maybe org details could be stored on invite so we don't have to worry about this?)

[2018-06-02 12:42] bfirsh commented on #11
Moved extra stuff to #131 #132 #133

[2018-06-02 12:42] #11 closed

[2018-06-02 12:55] bfirsh opened #135 "When adding app to home screen, fix the URL to be https://www.boxwise.co/"
Currently it is whatever page you are viewing.

[2018-06-02 12:56] #135 closed

[2018-06-02 14:04] barto74 opened #136 "When using "add to home screen" on iOS, you can’t get out of label page"
It should open in a new window, or have a back button that is not printed.
Anyway we should do it in pdf in the future

[2018-06-04 07:30] rubenspgcavalcante commented on #25
You're welcome! :D
The advantage of being a separated source (and not being included directly to dropapp) is because we have the support of the community and active users of this library.
I've even already received a PR with improvements! 🙌

[2018-06-04 19:28] meetall commented on #77
Hello, I've created a [pull request](https://github.com/dropapp/dropapp/pull/139)  for this. Could you please have a look?

[2018-06-05 05:45] bfirsh commented on #77
Thanks @meetall! ✨

[2018-06-05 05:45] #77 closed

[2018-06-05 21:41] meetall commented on #60
Hello, when I try to run the tests, it seems all of them are skipped except one. Is this done on purpose?

[2018-06-06 13:34] bfirsh opened #140 "Code of conduct"

[2018-06-06 13:34] bfirsh opened #141 "License"

[2018-06-06 16:05] bfirsh opened #144 "Move production configuration somewhere else"
If somebody runs `firebase deploy` on their own app, it'll use our production configuration. Not ideal.

Maybe it could just be a different file that doesn't do it by default? Or, part of the Travis config?

[2018-06-06 16:39] bfirsh opened #145 "Write down a bunch of good first issues"
This is in particular for a hack day in a couple of weeks, but would be a useful thing to have anyway.

- Easy bugs to fix
- Simple features to add
- Self-contained design things (e.g. icons)
- Writing unit tests
- Writing browser tests
- Documentation
- Landing page improvements/feedback
- Pie in the sky future ideas we could do with prototypes for

https://github.com/boxwise/boxwise/labels/good%

[2018-06-07 07:14] bfirsh commented on #136
To clarify: this is when you add the app to your homescreen iOS, with the share menu at the bottom of Mobile Safari.

[2018-06-07 07:52] #141 closed

[2018-06-07 08:11] bfirsh commented on #14
Pushed upstream here: https://github.com/stackworx/formik-material-ui/pull/13

When that is merged and released, we can use the NPM version.

[2018-06-07 11:49] bfirsh opened #148 "Hint to "Add to homescreen" if you're viewing on iOS"
## Problem

When you're viewing on mobile, you get a much better experience if you add the app to your home screen. It makes it run full screen, and generally lets it behave more like a mobile app.

## Suggested solution

If you're viewing the app on iOS, a hint should pop up that you should add the app to your home screen. It should probably only happen when you are logged in. It should be dismis

[2018-06-07 14:33] #80 closed

[2018-06-07 14:58] barto74 commented on #136
I think a quick fix for now is to make an overlay that gives the option to go back to the dashboard page.
I didn't see a way to link to Safari, also I wouldn't expect people to print QR-labels from their mobile, but from a desktop.

[2018-06-07 15:09] barto74 commented on #148
Some documentation on the Android part of this:
https://developers.google.com/web/fundamentals/app-install-banners/

[2018-06-07 15:11] #78 closed

[2018-06-07 15:16] #136 closed

[2018-06-08 11:23] barto74 opened #154 "on iOS the product list is displayed a bit scrolled down after adding product"

[2018-06-08 11:36] barto74 commented on #122
There used to be a simple trick with a line of javascript, but that is not working anymore. Solutions now seem to be rather difficult and many people regard this undesirable.
For example: https://stackoverflow.com/questions/24889100/ios-8-removed-minimal-ui-viewport-property-are-there-other-soft-fullscreen

[2018-06-08 11:39] barto74 commented on #85
Closed. At this moment we don't use fontawesome

[2018-06-08 11:44] barto74 commented on #83
Would be nice to warn people when they create an organization that already exists. And if they would rather be part of the existing organization, they should be able to enter their (name and) email address and requist to receive an invite from the org's admin account.
Org's admins could be either notified through email or a warning inside the app itself, or both.

[2018-06-08 11:46] barto74 commented on #57
See also #104.
The question is here: do we want to make the categories actually user manageable or not? Or do we want to have specific independent attributes for age groups and genders?

[2018-06-08 11:46] #51 closed

[2018-06-09 07:41] HaGuesto commented on #122
I'm in favor if removing the URL line. The less options our user has the better.

[2018-06-09 07:51] HaGuesto commented on #104
Database wise it makes it more complicated because you create a n-to-n relationship between product and category, but it is manageable and is useful later.

I'm also not sure yet if the categories man,  women.... makes sense. We are mixing quite a lot of things there.

At the end we should decide to make it as easy as possible to select a product. This UI should be easy and understandable

[2018-06-09 09:51] bfirsh commented on #122
I'd say forget about it. It's mostly mitigated by #148, which is clearly the approach iOS wishes us to take.

[2018-06-09 09:52] #122 closed

[2018-06-09 10:08] bfirsh opened #156 "Style form errors"
## Problem

Global form errors are not styled at the moment.

## Proposed solution

In most of the forms, there is a bit of code that looks like this at the top:

[code]

`errors.form` is set in the submit handler if the Firebase API returns an error.

This should be styled somehow. Perhaps in red, with something to set it apart from the rest of the form. Material-UI might have a component we can

[2018-06-09 10:09] bfirsh commented on #42
Mostly done. Replaced by #156

[2018-06-09 10:09] #42 closed

[2018-06-09 10:17] bfirsh opened #157 "Make instascan QR scanner work on iOS"
We want to use https://github.com/schmich/instascan for scanning QR codes, but it doesn't seem to work on iOS.

All the APIs seem to be in place, but something doesn't seem to be plumbed up correctly. It asks for permission, displays a camera icon in the URL bar, but then doesn't actually display anything on the screen.

See also #25.

[2018-06-09 10:21] bfirsh opened #158 "Refactor SignInForm to use a container component"
## Problem

All the presentation and logic is muddled in the same file.

## Solution

Split it out into `SignInForm` and `SignInFormContainer`, using a property for the Formik submit handler. See the other containers components for examples of how this is done.

[2018-06-09 10:30] bfirsh commented on #145
I've made lots of things here: https://github.com/boxwise/boxwise/labels/good%20first%20issue

Still missing some design things, and perhaps pie in the sky prototype ideas.

[2018-06-09 11:32] bfirsh commented on #85
Can we remove the `<script>` from `index.html` then?

https://github.com/boxwise/boxwise/blob/master/public/index.html

It is enormous, and will make the site slow to load on slow connections.

[2018-06-09 20:08] HaGuesto commented on #96
In general, I agree with what you wrote.
First,  I will add some bulletpoints to each section and at the end I will leave some general comments:

## Why is it a good idea?
- Picking boxes will be faster. The location is clearly and you can easily streamline your volunteers through your piles if your picklist is ordered the right way.
- You will reduce human. A volunteer has to do one workstep less

[2018-06-09 20:54] HaGuesto commented on #119
@barto74 @bfirsh
I spent some thought on this topic the last days. Sorry that my first discription was not clear.
### I would propose the following workflow for a unique ID creation:
1. When an organization signs up they should be asked "How many locations/piles do you need?" and "Up to how many boxes can be stored in one location? (As a rule of thumb we recommend 30-40)".
2. In our database we cr

[2018-06-09 21:01] HaGuesto commented on #145
@bfirsh What do you mean by pie in the sky?

[2018-06-09 21:07] HaGuesto commented on #107
@barto74 I do not fully understand this problem.

[2018-06-09 21:08] HaGuesto commented on #106
@barto74 could this be a design task fo the Hackathon?

[2018-06-09 21:09] HaGuesto commented on #124
@barto74 Could this be a Design task for the Hackathon?

[2018-06-09 21:19] HaGuesto commented on #89
@barto74 Could this be a Design task for the Hackathon?

[2018-06-09 21:30] HaGuesto commented on #83
I would actually make the organization name unique. I am a bit afraid of NGOs who have an account alrady, but lost their credentials and a coordinator went of and they just create a new account,...

[2018-06-09 21:32] HaGuesto commented on #74
@barto74
I do not fully understand this issue.
Could this be a design task for the Hackathon?

[2018-06-09 21:34] HaGuesto opened #159 "Should the user be able to manage product categories? / How should they look like?"
When talking about the select product UI we should discuss if a user should be able to manage product categories like Man, Woman, Boys,.... Hygiene, Food?
@barto74 @bfirsh Feel free to elaborate on the points below.

### The user should be able to edit and create product categories?
- The system is more generic and might be even used for situations we have not thought off yet.
- The user can desig

[2018-06-09 21:48] HaGuesto commented on #73
I'm asking myself this question quite often. Maybe we are still too caught up in the SQL world.
The problem is that you cannot query over the parents of subcollections.
Therefore, Ifeel that in general the moment you have a UI for something it should be a root collection and vice versa.

The only example where I would use subcollections right now is to track the histroy of a box.

[2018-06-09 21:51] HaGuesto commented on #68
@barto74 Could these be issues for the Hackathon?

[2018-06-09 21:52] HaGuesto commented on #66
@barto74 Could this be an issue for the Hackathon?

[2018-06-09 21:56] HaGuesto commented on #59
@bfirsh I would set up histories in subcollections. Didn't you mention that there might be an easy solution to track all changes?

[2018-06-09 22:02] HaGuesto commented on #54
@barto74 Could this be a Design issue for the Hackathon?
Also we should discuss firsthow the select product UI should look like. #159

[2018-06-09 22:06] HaGuesto commented on #33
please check out #119

[2018-06-10 06:17] bfirsh commented on #83
@HaGuesto I am inclined to agree.

[2018-06-10 06:29] bfirsh commented on #107
@HaGuesto I wrote this sorry. I’ve clarified. It also depends on #150

[2018-06-11 13:48] barto74 commented on #83
@HaGuesto @bfirsh i agree too

[2018-06-11 13:51] barto74 commented on #83
And what can we offer to users that discover that their organization already exists? Like an email with login credentials or something? Otherwise they'd create a new account with a slightly different name without going back to the old account.

[2018-06-11 13:58] barto74 commented on #119
1. I think we should ask people about the warehouse size (in square meters) and from there give them the amount of piles and amount of boxes as an indication. And that should be overridable - because we can't be exact.
2. I still don't like sequential box numbers for reasons given before.
3. It sounds in general quite complicated what you propose and I don't see which real problems it solves. We c

[2018-06-11 13:59] barto74 commented on #54
@HaGuesto definetely something for the hackaton, however it might be a bit too time consuming.
There is already a select product UI example around. Please comment on it!

[2018-06-11 14:00] barto74 commented on #66
@HaGuesto that depends on the knowledge of the people in the hackaton.

[2018-06-11 14:00] barto74 commented on #68
@HaGuesto yes

[2018-06-11 14:01] barto74 commented on #74
@HaGuesto this is a comment to the product/category selector component that i built. It is not yet used at the moment. It is a bit of css work that i didn't manage.

[2018-06-11 14:02] barto74 commented on #89
@HaGuesto it is not so much design work as well as implementation of the design in material ui and some custom css.

[2018-06-11 14:03] barto74 commented on #124
@HaGuesto i created a simple dummy, but they can work on something better, maybe inspired by the wireframe that i made weeks ago.

[2018-06-11 14:03] barto74 commented on #106
@HaGuesto this is not a design task, but an implementation task

[2018-06-11 16:32] HaGuesto commented on #83
If the email address is part of the NGO there should be a password reset.
If not, there should be a contact form to write the coordinator of the NGO to ask to add them.

[2018-06-11 17:27] HaGuesto commented on #119
replying to your comments:
about 1.)
That's a quite nice idea. It reduces it to one step in the registration.
A location UI should be added, too. I think I mentioned it already.
about 2.)
I get your point, but I cannot imagine an example where it should really be a problem as long as the numbers are generated by us and only 4 digits long. Do you mean it is harder to find a box?
about 3.)
The rando

[2018-06-11 17:29] HaGuesto commented on #106
Still one for the Hackathon? Sounds like a good first issue.

[2018-06-11 17:31] HaGuesto commented on #124
Would you like to write that issue for them?

[2018-06-11 17:35] HaGuesto commented on #74
Would you like to write it down as a good first issue for the Hackathon or should I do it?

[2018-06-11 17:35] HaGuesto commented on #89
Would you like to write it down as a good first issue for the Hackathon or should I do it?

[2018-06-11 17:36] HaGuesto commented on #66
Would you like to write it down as a good first issue for the Hackathon or should I do it?

[2018-06-11 17:38] HaGuesto commented on #54
Do you mean #89 ?

[2018-06-12 07:06] bfirsh commented on #66
Tip: we all have the power to edit issues, so I have been editing some of Bart’s to clarify them for good first issues. (Sorry Bart. ;)

[2018-06-12 09:34] rubenspgcavalcante commented on #157
So after going thru the open issues, it seems instascan development is a little [inactive](https://github.com/schmich/instascan/issues/153). Some people already asked about updating the [webRTC package ](https://github.com/schmich/instascan/issues/101) of the lib so it can work on [iOS devices](https://github.com/schmich/instascan/issues/92)

There's a plenty of PR's stacking too, so maybe even if

[2018-06-12 11:48] bfirsh commented on #157
Looks like we could just fork it though! https://github.com/schmich/instascan/pull/112

[2018-06-12 15:33] rubenspgcavalcante commented on #157
At least I've put instascan as per-dep. of react-instascan, so using it from the fork should work :)

[2018-06-12 16:04] rubenspgcavalcante commented on #148
@bfirsh , you mean run like a PWA? 🤔

[2018-06-13 11:55] rubenspgcavalcante commented on #158
Hey @bfirsh , I can take a look into that 👍

[2018-06-13 12:21] rubenspgcavalcante commented on #158
I have something unrelated to the issue but is about the sign-in too.
Checking the code here, the best way to handle the sign in is to integrate it to the `react-router` and mark all pages (within the components metadata or a routing file) to say that page is only accessible after authentication. So every route change should check that using the store as reference, redirecting the user to the sign

[2018-06-13 12:35] rubenspgcavalcante commented on #158
Normally the user information should go to a inner state like `user.info` or `user.data`, etc.
This makes easy to handle what actually coming from the database and what is from the app itself, like is the user is being loaded `user.loading` or if had some auth. error `user.error`.
This way is easy to check even if the user is not authenticated, like `if( !user.data) ...`.

Should I go for this ref

[2018-06-13 13:47] bfirsh commented on #158
Sure! You mean just in this component, or the user in the Redux state?

[2018-06-13 13:57] rubenspgcavalcante commented on #158
On the redux state. I've saw something similar on the profile state too, but got no time to work on it :(

[2018-06-14 16:37] #79 closed

[2018-06-14 16:37] #158 closed

[2018-06-14 17:50] HaGuesto commented on #89
@barto74
- I like the animations of the products, but how would you like to do that if the user can manage their own products? Do you want to create a bunch of animations and the coordinators should decide which animation should be used for which product?
It seems a like a lot of work to create all the animations (don't forget food and Hygiene!). Maybe the second step could only be text?
- We coul

[2018-06-15 11:43] barto74 commented on #89
@HaGuesto you probably mean to say icons instead of animations?
And yes, i want to generate a bunch of icons, for clothes, food, hygiene. I think especially in the second step we need icons, it is a proven way to have people select faster and with less errors.
As an addition to this, we might add search options or most used products, but i think we should do that later if user feedback or user ana

[2018-06-17 19:53] bfirsh commented on #145
@HaGuesto @barto74 Some more good things for the hack day would be a few simple features to add. Have you got any ideas for things that might be useful for IHA?

[2018-06-17 21:29] barto74 commented on #145
Could they start setting up the box ordering flow?

[2018-06-18 06:16] #85 closed

[2018-06-18 06:18] bfirsh commented on #145
Potentially, yeah! If we have some wire frames we could create well-specified issues for a couple of screens. If there is an unusual bit of UI, perhaps we could create an issue to make a component for that bit of UI.

[2018-06-18 14:12] rubenspgcavalcante opened #173 "Decouple Component, Container and Firestore from AddBoxContainer"
## Problem
Currently at the `AddBoxContainer`, a React Component is created and at the end is connected directly. It should be created another component from it and a container with the connect bindings.

## Suggested Solution
One simple solution is transform the AddBoxDialog as an private component factory method inside the AddBoxDialogContainer and finally rename it as the actual AddBoxDialog. J

[2018-06-18 19:14] HaGuesto opened #174 "deploy firestore in README"
I think the command in README to deploy new firestore rules should be

`yarn run firebase deploy --only firestore:rules`

Am I right @bfirsh ?

[2018-06-18 20:31] barto74 opened #175 "A product should be editable"
You can create a product and delete it, but it would also make sense if you can edit a product, ie change the name, move it to another category (and all the other attributes that we might add in the future).

[2018-06-18 20:33] barto74 opened #176 "A box should be editable"
You can make a box, but after that it is not editable at all. You should be able to change the product or the number of items, the comment or all the attributes that we might add in the future

[2018-06-18 20:34] barto74 opened #177 "A box should be deletable"
In the future boxes will be ordered by other groups or they will move in lots of ways, but besides that, it should be possible to just delete it (at least until more advanced tracking or changing options are available)

[2018-06-18 20:49] HaGuesto commented on #52
@rubenspgcavalcante

[2018-06-18 21:02] HaGuesto opened #178 "Show the number of items in ProductPage"
Show a number of items in the "manage Products" menu.

## Possible solutions
1. Save the number of items as attribute of a product and update it when a new box is created, edited or deleted. Do not forget to implement a data migration to not forget the boxes who are already registered.
2. Query over all boxes with a certain product in it and sum up the number of items.

## Future
In the long run,

[2018-06-19 07:07] bfirsh commented on #177
It should use an `isDeleted` flag, like products. We also need a data migration to set `isDeleted` to `false` on all existing products, because Firestore can't check null/undefined in a query (!).

To someone from the Tripadvisor hack day reading this - sadly this is not an easy change because we don't have a framework for doing migrations yet. Feel free to tackle this without a migration though,

[2018-06-19 07:11] bfirsh opened #179 "Database migration system"
We should have a framework for performing schema and data migrations. It should keep track of the migration state and have a single command for getting the database up to the latest state that can be run on deploy and in development.

We could probably use something like this: https://github.com/tj/node-migrate

We'd need a state storage system for Firestore. To Tripadvisor hack day people reading

[2018-06-19 07:15] bfirsh commented on #52
If we specify this more clearly, with suggested technology, it would be a good project for Tripadvisor.

[2018-06-19 07:18] bfirsh commented on #174
Nope. It also needs to deploy indexes now.

If you're curious as to how the `yarn run deploy-firestore` command works: custom commands for `yarn run` are defined in `package.json`, under the `scripts` section.

There you can see what it's doing. It is almost what you suggest, but without the `:rules` specifier, so it also deploys the indexes.

[2018-06-19 07:24] bfirsh opened #181 "When logged in, there is a flash of sign in page on first load"
## Steps to reproduce

1) Sign in
2) Open a new tab, open boxwise

## Expected

A loading indicator is displayed, then I land on dashboard.

## What actually happened

The sign in page displayed for a second, then a loading indicator displayed, then I landed on the dashboard.

Probably related to #161

[2018-06-19 14:38] HaGuesto commented on #181
The `AuthedRoute` component is broken.
It always redirects to the `SignInPage` which in turn redirects to the Dashoard.
The first redirect should not happen.

[2018-06-19 15:23] HaGuesto opened #183 "Styles are not included in landing page."
## Problem
I tried to implement all remarks of #150 in the branch "landing-page". I moved the css spec into HomePage.js and used the wrapper withStyles. However, it is not working. I have the feeling it is a syntax error in the style definition, but I do not see it.

[2018-06-19 16:27] HaGuesto opened #184 "Redesign the landing-page"
In the branch `landing-page` we are working on the landing page which should appear if you are not logged in and try to reach [boxwise.co](boxwise.co). Please refer to #150 and #183 for the current status of the landing page. The file of concern is `src/pages/HomePage.js` in the `landing-page` branch.

A [Website sketch](https://github.com/boxwise/boxwise/files/2116046/Website.sketch.pdf) for a on

[2018-06-19 16:43] HaGuesto opened #185 "Design six-eight icons/animations for the landing page"
In the [website sketch](https://github.com/boxwise/boxwise/files/2116114/Website.sketch.pdf) of #184 the functionality of Boxwise is split up into 6 features - Stock, Distribution, Moving, Forecast, Other services, Mobile phones.
It would be great to have an icon or animation for each of these tags.

Additionally, an icon depicting that we are an open source project and one that we are trying to e

[2018-06-19 16:58] HaGuesto opened #186 "Wire up the landing page"
Following #184 the landing page should be connected to either the SignInPage or the Dashboard depending if you are logged in or not.

If you are logged in and you try to reach [boxwise.co](boxwise.co), you should directly be directed to the Dashboard.

[2018-06-19 17:10] #159 closed

[2018-06-19 17:12] #124 closed

[2018-06-19 17:22] #104 closed

[2018-06-19 17:23] #96 closed

[2018-06-19 17:37] HaGuesto opened #187 "Add icons to products"
Each product should be depicted by an icon created in #54.

### Implementation
- [ ] Change the "AddProduct"-Dialog
- [ ] Add a column to the Product Table to show the Icons
- [ ] Data Migration? What happens to former products who do not have an icon?

[2018-06-19 17:50] HaGuesto commented on #28
#Questions for tripAdvisor
Do you have any experience in offline implementation? Any knowledge/guides you might want to share with us? How can you reduce database incoherences as much as possible?

[2018-06-19 17:56] HaGuesto commented on #40
### Questions for tripAdvisor HackDay
How can you backup the Authentication database of google firebase?

[2018-06-19 18:09] HaGuesto commented on #56
### Question for tripAdvisor HackDay
In one of our warehouse processes it would be great if a user could directly print something similar to a delivery note, e.g. when they picked an order in their warehouse.
What Hardware would you need? How could a Print-Button inside Boxwise work?

[2018-06-19 18:18] HaGuesto commented on #57
@barto74
To be more generic, categories and products should be user manageable.
However, if we want to optimize the UX,e.g. control the product selection process, probably they should not be user-manageable.

Adding the icons could be a good compromise to have a better UX and at the same time stay generic.

[2018-06-19 18:22] #174 closed

[2018-06-19 18:38] HaGuesto opened #188 "Make category list dragable"
Following #57, the list of categories should be drag-able to change the arrangement of the categories in the  select-product UI

[2018-06-19 18:50] HaGuesto opened #189 "[EPIC] new select product UI"
Here is an [interactive walkthrough](https://xd.adobe.com/view/5b5416a4-680c-40dd-6351-20f6a85c8323-2d65/) for the new "select-product"-UI

### Work steps
- [ ] Icons #54
- [ ] make categories user-manageable #57
- [ ] add icons to products #187
- [ ] create component for product-selection
- [ ] change UI in "add Boxes" and "Find Boxes"

<img width="1102" alt="screen shot 2018-06-08 at 14 38 09" s

[2018-06-19 18:58] HaGuesto opened #190 "Make category list editable and deleteable"
Following #57

[2018-06-19 19:05] HaGuesto commented on #59
### Questions for tripAdvisor HackDay
How can we track all changes to the Firebase database? Should we track all changes?
How can the history itself be stored in firestore?
How can we add automaticaly createdAT, createdBY, modifiedAT, modifiedBY to each document in firestore?

[2018-06-19 19:09] HaGuesto commented on #66
@barto74 Can you specify this problem a bit more in detail? Does it happen in general in all forms or only in certain cases?

[2018-06-19 19:17] barto74 commented on #66
@HaGuesto if you have an input field that requires a number to be filled in, the keyboard of your smartphone should not display its default keyboard, but a numeric keypad. I think this is what is needed for that:
`<input type="text" **pattern="\d***">`
This should be used for any input field that only allows numbers.

[2018-06-19 19:18] HaGuesto commented on #73
### Questions for tripAdvisor HackDay
Google Firestore is a NoSQL database divided in documents and collections. Until now we only have root collections. Should we make better use of subcollections?

[2018-06-19 19:20] #83 closed

[2018-06-19 20:14] #89 closed

[2018-06-19 20:19] HaGuesto opened #191 "Update materialUI-theme"
In the UX sketch below we sketched how lists, forms, interface elements, colours and fonts should be used. We should style as many components as possible according to this sketch to make it easier to quickly create new screens.

The blue color (#009BD9) and the font are part of the Boxise visual identity.

### Tasks
- [ ] Modals should be the same throughout the app - full screen on mobile, on big

[2018-06-19 21:45] HaGuesto opened #192 "Should we use Redux?"
### Questions for tripAdvisor HackDay
Shoul we use Redux or drop it? Why? Is there any alternative you can think of?

[2018-06-20 09:28] rubenspgcavalcante commented on #52
I think there's no need to put on a Database. We have some options that make it more simple for non-tech contributors:

- Go for an ultra simple solution. Create a i18n directory and commit directly the .json files containing the translations. (I think is only a good idea if we're in a rush)

- Create a translations repository, where we can put as a (per)dependency of boxwise (npm module). Althoug

[2018-06-20 09:49] bfirsh commented on #52
:+1:

To clarify for the hack day: a good task would be to wrap all strings in the app with react-intl's `FormattedMessage`.

That will allow us to translate at some point in the future, when we need to. We probably shouldn't translate anything at this stage, because it'll just change and break.

[2018-06-20 11:33] bfirsh opened #196 "Make app translatable"
## Problem

At some point we want to translate the app into other languages. For example, all the NGOs that @barto74 visited in Paris run in French.

If we start making strings translatable now, it will be much less painful to translate in the future.

## Suggested solution

We can use [react-intl](https://github.com/yahoo/react-intl) (highly recommended by @rubenspgcavalcante) to start making str

[2018-06-20 11:33] bfirsh commented on #52
Summarised in #196

[2018-06-20 11:33] #52 closed

[2018-06-20 12:07] barto74 opened #201 "Loginscreen is briefly shown when user is already logged in"
### Problem
When I open Boxwise while my session is still valid, I briefly see the login screen and just when I attempt to fill in my details, it disappears and it forwards to the dashboard page

### Fix
Make sure that the app forwards to the dashboard before displaying the login form.

[2018-06-20 12:15] bfirsh commented on #201
dupe of #181

[2018-06-20 12:15] #201 closed

[2018-06-20 13:45] bwaitetripadvisor commented on #24
I've started to put some of this together. One little hitch is the default rules for 'product' table requires an authenticated session, so it would require the user to create that first, and provide their username and password to the script.

Might be a bit more convenient for the development settings to just allow non authenticated sessions.

[2018-06-20 13:52] bfirsh commented on #24
@bwaitetripadvisor Ah, hm. I was going to suggest we use the `firebase database:push` command, because that bypasses the auth checks, but that is only for the old Firebase database, not the new Firestore database. That is annoying.

So yeah, setting up a user as part of the bootstrapping process sounds like a good plan.

[2018-06-20 14:11] mtimmerm commented on #186
on it at TA

[2018-06-20 14:12] maoning commented on #23
Picking this up :)

[2018-06-20 14:13] Continuities commented on #92
[TA] On it.

[2018-06-20 14:15] #173 closed

[2018-06-20 14:18] MichaelBurjack commented on #22
I'll take this (@ TA).

[2018-06-20 14:24] jpdaigle commented on #148
taking this issue (can't assign) #TripAdvisor #tripgives

[2018-06-20 14:27] maoning commented on #23
Is there a preference between reset password through the app and through a password reset email?

[2018-06-20 14:28] mjn commented on #90
[TA] On it

[2018-06-20 14:29] bfirsh opened #206 "Menu should be scrollable"
The menu doesn't scroll and we're right on the borderline of what can fit in the menu on an iPhone 5 sized screen. With things like #23, it's going to get too long.

The menu should be scrollable, somehow.

The menu is a Material UI drawer. Here are the docs: https://material-ui.com/demos/drawers/

[2018-06-20 14:30] acournoyer1 commented on #66
I'm grabbing this one

[2018-06-20 14:41] jclarkin commented on #206
@bfirsh I tested this in Chrome resized for mobile, and the menu drawer does allow scrolling. In which browser did you encounter this issue?

[2018-06-20 14:49] zcharli commented on #176
Attempting this.

[2018-06-20 14:49] ekarpov-tripadvisor commented on #111
I'm taking this one

[2018-06-20 14:53] stella-wang commented on #156
TA on it.

[2018-06-20 14:59] adrianocrestani commented on #175
Picking this up

[2018-06-20 15:00] jclarkin commented on #196
I'll take a stab at this (no promises ;))

[2018-06-20 15:01] sforz commented on #93
Taking this one (from TA)

[2018-06-20 15:05] bfirsh commented on #206
Ah - interesting. Mobile Safari. This is me recalling it not working from a few weeks ago, so maybe it is fixed now. Let me double check.

[2018-06-20 15:07] bfirsh commented on #206
Yeah - it doesn't seem to work on mobile safari. When you swipe up and down on the menu, it scrolls the page behind it, not the menu. Makes it rather hard to get to the "sign out" button...

[2018-06-20 15:09] bourds commented on #178
Looking at this one (from TA)

[2018-06-20 15:12] bfirsh opened #210 "Document installing watchmen if `yarn test` runs out of open files"
We're running into this with `yarn test` on OS X: https://github.com/facebook/create-react-app/issues/4540

We should doucment that you need to install watchman if you run into this issue. `brew install watchman`

[2018-06-20 15:13] rubenspgcavalcante opened #211 "Make "yarn setup" read the firebase web snippet"
Make it read and convert the snippet to generate the `.env.local` config file from it.

[2018-06-20 15:20] sfetiveau-ta commented on #106
I'll take this.

[2018-06-20 15:22] bfirsh commented on #106
Related: there are lots of places the loading spinner is used where it is not centred, etc. The component for the spinner should probably know how to centre itself in whatever its parent is.

[2018-06-20 15:22] bfirsh commented on #106
The notable one is the loading spinner when you first open the app that's jammed up in the top-left corner...

[2018-06-20 15:25] sforz commented on #93
Just noting that on this box we show category / product and this would be on the whole category / product string - fine?

[2018-06-20 15:29] rubenspgcavalcante opened #214 "Detach Container, Component and firebase logic from ProductTable"
Currently the component `ProductTableContainer` have the three responsibilities.
- First needs to be created a redux container and remove the connect from the component
- Create a private factory method to create the dumb component (currently on `ProductTable`)
- Rename the `ProductTableContainer` for just `ProductTable`
- Detach the firestore query and turn it into a thunk
- Use PureComponent ins

[2018-06-20 15:30] acournoyer1 commented on #187
I'll take a stab at this one

[2018-06-20 15:31] acournoyer1 commented on #206
I'll grab this one, literally just fixed 2 or 3 instances of it on our site

[2018-06-20 15:33] bfirsh commented on #23
See also #22 :)

This is for a form to change your password, once you are signed in. It could also be the page where you change your email too, and so on, but that seems less essential than changing your password.

[2018-06-20 15:39] YuanyeZ commented on #68
On it. (TA)

[2018-06-20 15:45] bfirsh commented on #93
@sforz Yep - same as current select, I think.

[2018-06-20 15:47] bfirsh commented on #90
Thanks @mjn!

[2018-06-20 15:47] #90 closed

[2018-06-20 15:48] AveryVine commented on #125
This can be marked as resolved!

[2018-06-20 15:49] ageektrapped commented on #66
I don't quite know what do here.

The fix for this is putting `pattern="[0-9]*" inputmode="numeric"` in the `<input />` tag. Just putting this on the <Field> in render puts those attributes on the containing `<div/>`.

Not quite sure how to get it in the input yet.

[2018-06-20 15:51] bfirsh commented on #125
wahey, thanks @AveryVine!

[2018-06-20 15:51] #125 closed

[2018-06-20 15:51] bfirsh commented on #111
Thanks @ekarpov-tripadvisor!

[2018-06-20 15:51] #111 closed

[2018-06-20 15:53] bfirsh commented on #145
I think we've done a good job of this. :)

[2018-06-20 15:53] #145 closed

[2018-06-20 15:55] bfirsh commented on #132
Note to tripadvisor people - there is a test suite for this in `src/__tests__/firestore.rules.test.js`. Instructions on how to set them up is in the readme.

[2018-06-20 15:55] bourds commented on #178
So to do it the 'right' way https://github.com/boxwise/boxwise/issues/214 is going to be a prerequisite.

[2018-06-20 15:56] bourds commented on #214
Going to start looking at this one (TA)

[2018-06-20 15:58] bfirsh commented on #58
done done done :)

[2018-06-20 15:58] #58 closed

[2018-06-20 15:58] bre-ta commented on #185
Currently working on the "Mobile" icon: "Everything works on your
smartphone, tablet or laptop."

[2018-06-20 15:58] bfirsh commented on #114
Seems like the tidying is happening by itself...

[2018-06-20 15:58] #114 closed

[2018-06-20 16:14] AveryVine commented on #61
I'll take this on (TA)

[2018-06-20 16:22] bfirsh commented on #66
D'oh. Yeah this is Material UI being stupid.

Wouldn't `type="number"` work? There is an example of this in the Material UI docs. https://material-ui.com/demos/text-fields/

[2018-06-20 16:26] mtimmerm commented on #181
The AuthedRoute component is fine, but authentication doesn't happen immediately.  The App is initially rendered in the unauthenticated state, and the authentication response comes in from Firebase a little later, after the user has been redirected to /home.

Since there can be a noticeable delay in receiving auth, it is appropriate to render the app in an unauthenticated state initially, but ther

[2018-06-20 16:27] ageektrapped commented on #66
I figured it out. Pull Request is up.

(shrug)

iOS expects more, apparently. I'm not sure why.

[2018-06-20 16:34] bfirsh commented on #66
Thanks @ageektrapped!

[2018-06-20 16:34] #66 closed

[2018-06-20 16:38] bfirsh commented on #181
The way this originally worked is the initial state for user was `loading: true` (in `src/reducers/user.js`). Then, when the initial `onAuthStateChanged` is fired, it sets it to `loading: false`. That is the correct solution, I think.

@rubenspgcavalcante You refactored this - do you have any opinions about this? Was there a particular reason `loading: false` is the initial state?

[2018-06-20 16:45] bfirsh commented on #196
#218 sets up the framework for translating and makes dashboard translatable. Thanks @jclarkin!

Making all the other pages translatable is still up for grabs. ;)

[2018-06-20 16:59] bfirsh commented on #211
This may also be of interest: https://firebase.googleblog.com/2017/04/easier-configuration-for-firebase-on-web.html

[2018-06-20 17:16] bfirsh commented on #206
This has been fixed on iOS but still up for grabs on iOS - see #220

[2018-06-20 17:32] sfetiveau-ta commented on #106
It was my first React component. I only added support for size and className, that were already used in the code. See merge request.

[2018-06-20 17:34] bfirsh opened #226 "Users should be able to change their name"
There should be a form that lets them change their name when they are signed in. It could be combined on a page with the change password form.

See also https://github.com/boxwise/boxwise/issues/125

[2018-06-20 18:00] bfirsh commented on #61
The foundation was added in #224.

Still needed:
- Actual tests for stuff
- Some docs about how to run them
- Add them to the CI build, somehow

[2018-06-20 18:40] bwaitetripadvisor commented on #24
Haven't create a pull request yet, as I want to clean things up, and have it generate more documents in the firebase db, but I've got the initial working version added to my fork at https://github.com/bwaitetripadvisor/boxwise/blob/master/utils/generate-test-data.js

[2018-06-21 02:48] sforz commented on #93
I did not find the time to finish this one this morning, whoever is going to work on this next might find this link useful though: https://material-ui.com/demos/autocomplete/

[2018-06-21 12:23] barto74 opened #233 "Login screen doesn't display error messages"
When you log in with a non existing account or a wrong password, no error message is displayed.

[2018-06-21 12:44] bfirsh opened #235 "Progress gif doesn't reset each time it is displayed"
Try flipping between two pages that need loading. The loading gif continues playing in the background, so when you load stuff, it is playing half way through the gif.

It should be forced to re-render each time it is displayed. Or, there might be some clever thing we can do in JavaScript to reset the gif on `componentDidMount`.

See #234

[2018-06-21 12:45] bfirsh opened #236 "Progress indicator should be centred everywhere"
Notably the main loading indicator when you first load is jammed in the top left corner. This could be generalised in the `Progress` component though - it could centre itself in whatever parent it is in, perhaps with some padding.

This is already done on the box list, so this could be adapted perhaps.

[2018-06-21 12:46] rubenspgcavalcante commented on #233
Checking here, the error actually is on the state (user.error).
Just need to check if the component is connected to redux and listening to this property.

[2018-06-21 12:52] #106 closed

[2018-06-21 12:53] rubenspgcavalcante commented on #233
Yes, isn't connected to the user.error. I'll get this one to fix 👍

[2018-06-21 13:35] #233 closed

[2018-06-21 14:39] HaGuesto opened #238 "Overlowing organization name on label"
## Problem
If the name of a NGO is too long it overflows on the labels into the QR code. At least in Google chrome.

[2018-06-21 14:42] barto74 commented on #236
I would even suggest centering the animation in a full screen overlay (for example black with 50% opacity) - that indicates more clearly that this is not the moment to want to click on things, just have to wait.

[2018-06-21 14:55] rubenspgcavalcante commented on #236
Hey guys, if you provide me the SVG I can recreate the animation only in CSS.
This way we can show it in any size, without losing quality and with an awesome performance :)

[2018-06-21 15:17] bfirsh commented on #236
@barto74 No, there is no need. That'll be really jarring.

Besides, you _can_ click on stuff! If you open the products page, and half way through loading you realise you want to be on the boxes page, you want to be able to click on the boxes page.

[2018-06-21 15:19] barto74 commented on #236
Ruben, sounds nice. Is a static svg enough?

[2018-06-21 16:23] spielhoelle commented on #192
What about using [Context](https://reactjs.org/docs/context.html) ?

[2018-06-21 16:54] HaGuesto opened #241 "Delete HomePage.css and solve last remains of transferral"
## Problem
I tried to move HomePage.css into HomePage.js, but I do not know how to move the styles in the css `body` and `a` class.

[2018-06-22 07:37] bfirsh commented on #241
There should be no need to set body styles for that page... what doesn't work with a root container element?

[2018-06-23 09:52] #241 closed

[2018-06-23 09:53] #238 closed

[2018-06-24 18:27] #186 closed

[2018-06-25 08:17] rubenspgcavalcante opened #249 "Enable source maps on production"
Currently they're disabled (probably a CAP default config), but for debugging the Sentry errors, this turns everything more complicated.
If the case is that we need to hide the source (I think is unnecessary as anyone with a small effort are able to reverse eng. the source) we can deploy the sourcemap file directly to sentry on Travis builds.

More info available here:
https://docs.sentry.io/clien

[2018-06-25 09:00] spielhoelle commented on #236
#248 is a first good PR

[2018-06-25 09:44] #249 closed

[2018-06-25 11:51] spielhoelle commented on #206
Cannot reproduce. Menu scrolls on chrome, ff, iphone mobile safari. On Iphone it seemed to be a bit buggy but worked in the end.

[2018-06-25 12:29] spielhoelle opened #251 "New Box throws "Invalid DOM property `inputmode`. Did you mean `inputMode`?""
`src/components/AddBoxForm.js:69`
New Box throws "Invalid DOM property inputmode. Did you mean inputMode?"

[2018-06-25 12:36] rubenspgcavalcante commented on #251
This one is easy, I'll take it :)

[2018-06-25 13:04] rubenspgcavalcante commented on #192
Before using context we need be very organised and concise.
As I've put on the slack discussion:

So, we can have a unique context providing something similar to redux or multiple ones, something similar to [MobX](https://github.com/mobxjs/mobx).
But the main point is, we're going to be changing to some custom architecture that would make things harder to developers who wants to help out with the

[2018-06-25 15:35] #251 closed

[2018-06-25 16:05] #22 closed

[2018-06-25 16:07] #23 closed

[2018-06-25 21:32] rubenspgcavalcante commented on #236
@barto74 , yes just the SVG is good enough to make the css animations :)

[2018-06-27 07:03] bfirsh commented on #24
A start was in #243 - thanks @bwaitetripadvisor!

This needs documentation to be useful, probably as start of the getting started guide. It could even be triggered by the `yarn setup` command. This work is still up for grabs!

[2018-06-27 07:10] #211 closed

[2018-06-27 07:16] bfirsh opened #255 "Make `yarn setup` log into Firebase and deploy your Firestore rules"
The reason I thought of this is that `yarn setup` makes you log in with Firebase, then the next step in the getting started guide makes you do that again, which is a bit silly.

We can probably roll all this into `yarn setup` somehow so it gets done automatically:

[code]

See also #239

[2018-06-27 07:49] HaGuesto commented on #93
I'm on this one.

[2018-06-27 10:48] HaGuesto opened #259 "Category field is overlaying the category name in AddProductForm"
## Reproduce Problem
1. Open AddProduct Dialog in manage products-menu
2. Select category
3. click on the "Name" text field.
--> The title of the select field ("Category") is overlayed with the selection.

[2018-06-28 06:25] HaGuesto opened #262 "Add modifiedBy and modifiedAt for products"
`modifiedBy` and `modifiedAt` should be added / edited each time a product is edited or deleted.
This should be done in `src/actions/product.js`. Check productAdd to see how it is done for the `createdAt` and `createdBy`.

The perfect follow up would be #179 :)

[code]

[2018-06-28 06:45] rubenspgcavalcante opened #263 "Make Products feature (CRUD) full Redux"
Products are almost all in redux now, but one thing missing is the listing/getting by id part.
Currently we're using `react-firestore` which "componentize" the way of doing queries on firebase. Although is a good solution, doesn't fits well the Redux architecture.
So, what we need is just make a thunk to do this job (the query) and then get rid of react-firestore component by connecting the `Produ

[2018-06-28 12:41] HaGuesto commented on #93
@bfirsh could you checkout the branch `93/search_to_select_products`? I'm stuck. The reason is in the last commit message.

[2018-06-28 13:00] #263 closed

[2018-06-28 13:13] #14 closed

[2018-06-28 13:26] rubenspgcavalcante commented on #255
Maybe a flag like `yarn setup --deploy`. As the setup script create a local configuration file, will not be fine if everytime you run, do a deployment.

[2018-06-28 15:11] rubenspgcavalcante opened #265 "Read QR Code page"
We need a page for reading the QR code and then there two ways to react to it:
 - If the QR code *is* in our DB: Display the user the box information/data
 - Else: Offer the user to *create* a box from it **or** offer the user to bind this code to an existent box

Warn: This will envolve the Add Box feature

[2018-06-29 22:20] vivianlink commented on #210
https://github.com/boxwise/boxwise/pull/270

[2018-06-30 05:57] #131 closed

[2018-06-30 06:05] bfirsh commented on #210
Nice thank you @vivianlink!

[2018-06-30 06:05] #210 closed

[2018-06-30 06:29] HaGuesto commented on #25
@rubenspgcavalcante is on this one.

[2018-06-30 06:31] #27 closed

[2018-06-30 06:33] #33 closed

[2018-06-30 06:33] #35 closed

[2018-06-30 06:33] #36 closed

[2018-06-30 06:35] #44 closed

[2018-06-30 06:40] #175 closed

[2018-06-30 06:41] #49 closed

[2018-06-30 06:41] #53 closed

[2018-06-30 06:41] #55 closed

[2018-06-30 06:41] #56 closed

[2018-06-30 06:41] #57 closed

[2018-06-30 06:41] #74 closed

[2018-06-30 06:41] #93 closed

[2018-06-30 06:43] HaGuesto commented on #157
@rubenspgcavalcante can we close this issue?

[2018-06-30 06:45] #190 closed

[2018-06-30 06:45] #196 closed

[2018-06-30 06:45] #226 closed

[2018-06-30 06:45] #255 closed

[2018-06-30 06:45] #262 closed

[2018-06-30 06:48] #184 closed

[2018-06-30 06:49] #183 closed

[2018-06-30 06:50] #187 closed

[2018-06-30 06:50] #188 closed

[2018-06-30 06:50] #189 closed

[2018-06-30 07:02] #259 closed

[2018-06-30 07:05] HaGuesto commented on #214
#261

[2018-06-30 07:05] #214 closed

[2018-06-30 07:59] #176 closed

[2018-06-30 07:59] #177 closed

[2018-06-30 07:59] #178 closed

[2018-06-30 08:01] #132 closed

[2018-06-30 08:01] #133 closed

[2018-06-30 08:02] #119 closed

[2018-06-30 08:06] #70 closed

[2018-06-30 11:03] DeveloperDavo commented on #107
I am happy to work on this.  Is there any preference for the design?

[2018-07-02 06:56] HaGuesto commented on #107
Hey @DeveloperDavo, yes great! In #191 the color and font of our visual identity.

[2018-07-02 15:27] HaGuesto opened #274 "Style guide"
We will create a style guide containing:
- HowTo do CRUDs (We have quite a few of them and plan some more)
- HowTo use Redux for Boxwise
- HowTo use Dialogues ...

@rubenspgcavalcante feel free to correct this as much as you want!

[2018-07-02 16:06] HaGuesto opened #275 "Firebase / no firebase or how can we use the firestore as a relational database?"
Firebase has many advantages. It is taking care of the authentication and is a great hosting service. We will spend much less time on maintaining a backend and firebase could be a great tool when we want to add offline support (#28), too.

However, our data model is relational and the firestore is a noSQL-database. Currently, we are implementing queries in a very inefficient and complicated way. W

[2018-07-02 16:34] HaGuesto commented on #262
Closed ("Paused") due to discussion #275.

[2018-07-02 16:34] HaGuesto commented on #255
Closed ("Paused") due to discussion #275.

[2018-07-02 16:34] HaGuesto commented on #190
Closed ("Paused") due to discussion #275.

[2018-07-02 16:35] HaGuesto commented on #177
Closed ("Paused") due to discussion #275.

[2018-07-02 16:35] HaGuesto commented on #176
Closed ("Paused") due to discussion #275.

[2018-07-02 16:35] HaGuesto commented on #133
Closed ("Paused") due to discussion #275.

[2018-07-02 16:35] HaGuesto commented on #132
Closed ("Paused") due to discussion #275.

[2018-07-02 16:36] HaGuesto commented on #71
Closed ("Paused") due to discussion #275.

[2018-07-02 16:36] HaGuesto commented on #70
Closed ("Paused") due to discussion #275.

[2018-07-02 16:36] HaGuesto commented on #57
Closed ("Paused") due to discussion #275.

[2018-07-02 16:37] HaGuesto commented on #29
Closed ("Paused") due to discussion #275.

[2018-07-02 16:37] HaGuesto commented on #24
Closed ("Paused") due to discussion #275.

[2018-07-02 16:43] HaGuesto opened #276 "Formik or no Formik?"
Formik was an easy and fast handler to create our first forms in Boxwise. However, the first problems came up in the development of new features:
- We are using a binding between Formik and Material-UI which only binds the Material-UI `TextField` to Formik. Material-UI `TextField` in turn does not support itself Autocompletion in a Select-Field, but suggests `react-select`. It is quite complicated

[2018-07-02 16:51] HaGuesto opened #277 "Log system"
We are looking for a way how to log all changes to the database?
In a relational database you would create an extra History table for this purpose and save each time user, timestamp and actual change.
How can we do that in our case (firebase / firestore) ?  Is there any package for that ?

[2018-07-02 16:54] HaGuesto commented on #179
This issue becomes more and more imminent. Any suggestions?

[2018-07-02 17:05] HaGuesto opened #278 "Higher order component for CRUDs?"
Boxwise basically consists of CRUDs-"components" (Boxes, products, categories, user management and some more). All of them are very similar. We are thinking of creating a Higher order component (HOC) to standardize these CRUDS. This way we limit the redundancy in our code which will make it is easier to debug / test / maintain. In theory in the long run we are faster developing. If we're able to m

[2018-07-02 17:20] #59 closed

[2018-07-02 17:20] HaGuesto commented on #277
#59

[2018-07-02 17:21] HaGuesto opened #279 "Refactor Dialogs"
We usage of Material-UI dialogs is inflationary (Creating, editing boxes and products). We are running into problems since we want to use maybe a Dialog in the menu (#92 and #221) and maybe we soon need Dialogs in the Dialogs.

Anyway, according to [Material Design](https://material.io/design/components/dialogs.html#) we should only use Dialogs for

So, let's refactor the dialogs according to #274

[2018-07-03 06:53] HaGuesto opened #280 "Password field is locked when input was invalid"
## Reproduce
1. Go to the login page of boxwise.
2. Enter a wrong password.

## Problem
The password field is locked and never resolved.

[2018-07-03 07:03] HaGuesto opened #281 "Reorder Dashboard and Menu"
Currently, the menu is a mixture of actions ("Find a box") and CRUDs ("manage products"). The actions are all shown in the dashboard page again.

Our idea is to make this split more clear. All the direct actions a volunteer can do should only be in the dashboard page ("Make a Box", "Find a box", "Scan a QR-code", ...).
All the CRUDs in the menu. They should also be changed from "Manage Products" t

[2018-07-03 07:10] HaGuesto opened #282 "Redesign Dashboard"
The dashboard page needs to be redesigned.
The buttons are too small on mobiles. The position on the screen is not centered. We need some creative and good UI here.

![bildschirmfoto vom 2018-07-03 09-07-46](https://user-images.githubusercontent.com/29065125/42203966-a8442698-7ea0-11e8-940b-8e3a1d4bee96.png)

@barto74 any comments?

[2018-07-03 07:39] barto74 commented on #275
I think one very important reason to have chosen this platform is the offline capabilities. Just as to make the discussion as wide as possible: what if we let this feature go and help users finding hardware based solutions (mobile wifi points, extenders) or even let them work on a local box.

[2018-07-03 09:16] rgrnwd commented on #275
Not sure if this is the solution you're looking for.
In a previous project, we used a noSQL data store (couchbase), and used PouchDB to query from it. It was super simple. The syntax of the queries is not SQL but was very straight forward, and integrated especially well in our React application.
Essentially all the data is stored as JSON files in Couchbase (or firebase for this instance), then whe

[2018-07-03 11:24] rubenspgcavalcante commented on #278
I think the answer to the question

 is already there haha! Makes no sense to try to build a abstraction like this after have tons of CRUDs already implemented ( in their own way) inside the project. My opinion based on previous experiences, If we don't do it now, we don't do it at all

[2018-07-03 13:35] rubenspgcavalcante commented on #275
Even if we solve the problem with the query syntax using some abstraction layer over it, we'll still have problems with the number of reads/writes on it. Firebase don't have a join syntax integrated to the get() method yet, and they don't plan to have it (I've can't find now the thread where the firebase team responded this).
Well in someway it makes a lot of sense, as I was talking with @HaGuesto

[2018-07-03 13:56] rubenspgcavalcante commented on #276
For me we can simply go just by material-ui. I mean, the benefit of formik: the form validations are something easy to implement as the app forms right now are't ultra complex ones.
While working with Formik I've struggled because it doesn't is so declarative and sometimes magical values are incoming from upper components, making even harder to understand simple flows within the app. Also @HaGuest

[2018-07-03 14:04] rubenspgcavalcante commented on #192
And for the problem of the contributors without any exp. in Redux, is something that probably all of us faced in our life as developers:
- When there's no docs, the **code** is the best documentation.

Redux forces you to **always** follow that same workflow:
- create the component
- create the state within the store for that feature
- create the actions so you can modify this state
- create a con

[2018-07-03 15:51] rubenspgcavalcante commented on #275
For not having to maintain complex backend we can try out something as:
https://github.com/PostgREST/postgrest

It seem to have even a way to deploy directly to heroku 🤔

[2018-07-03 17:48] HaGuesto commented on #275
I just had a interesting read on medium.
https://medium.com/one-tap-software/why-im-leaving-firebase-for-pouchdb-or-am-i-73a12390bfef

He describes a similar solution to ours and proposes to use firebase and pouchdb parallel. What do you think of that?

[2018-07-04 04:52] dazyoung commented on #280
All input fields are disabled on an failed submission of the form. This can also be seen on the password reset screen.

[2018-07-04 09:31] rubenspgcavalcante commented on #275
Even if we use both, we'll need at least a minimum backend to communicate with both services to deal with the authentication problem. 🤔
Anyway, we can try out doing a small NodeJS service to get this job done and deploy it to a free micro aws instance

[2018-07-04 15:31] rubenspgcavalcante opened #286 "Move from Instascan to another lib"
Hey people,
While developing the new scan qr code page, I've came to some problems while trying to do a production build of the project.
Basically Webpack is unable to compile `instascan` as it tries do compile to [ES5 at runtime with Babel.](https://github.com/schmich/instascan/blob/master/index.js)
There's this issue posted long ago with someone that had the same problem:
https://github.com/schm

[2018-07-05 09:31] rubenspgcavalcante opened #287 "Convert the project to Webpack 4"
So, again I want to raise this discussion as it is really important for the future of the project.
While implementing the qr-code reader feature I'm facing to some problems with the compilation of a library which doesn't comes pre-compiled. There's a work around of we compile it by ourselves by just saying to webpack include this lib directory and include it on the babel-loader process.
Here's the

[2018-07-05 18:12] DeveloperDavo commented on #107
Just sumbitted https://github.com/boxwise/boxwise/pull/288 :)

[2018-07-06 13:43] martron commented on #286
I was just looking into this for our own app and while instascan is scanning a lot more reliably/quickly than an older library we replaced I'm also worried about the library size and lack of recent maintenance.

I hope you don't mind me watching this thread to get some hints on implementing the camera capture with jsQR which seems promising.

[2018-07-09 13:02] HaGuesto commented on #287
We decided in a recent [skype call](https://docs.google.com/document/d/11Fnnn7QL0KoACNxbP2Newd51daHgZxpRzxMWbIKpCSc/edit?usp=sharing) to move to webpack.
@rubenspgcavalcante should we write a new issue for the refactoring? Could you do that?

[2018-07-09 13:22] bfirsh commented on #278
I have no strong opinions.

There is a risk with these sorts of abstractions that they make things more complex for people to understand what is going on and harder to implement new things, particularly if you want to make slight modifications. E.g. say you want to make a normal crud, but with a slightly different list, or whatever. Verbosity might be preferable for that reason, even if you are re

[2018-07-09 13:24] rubenspgcavalcante commented on #274
So, we basically need a **styleguide** for:

### Define the project architecture on structure level:
 - How the directories and files are disposed under the project. How to treat and organise specific code, "maybe" reusable and "for sure" reusable code;
- How much should I modularise the code, breaking components, actions and reducers without raising too much the granularity but keeping the single

[2018-07-09 13:32] rubenspgcavalcante commented on #278
For sure, **open for extension closed for modification**.
Also, as the HOC will only **bind** the generic actions and app state to the component we can break this in two parts:
- A set of generic actions related to CRUD which modifies in a uniform way the app state;
- A HOC which binds the actions to whoever component we want;
- A set of generic Components which we can be easily extended but have

[2018-07-09 13:39] HaGuesto opened #289 "Refactor products so the data is stored and queried locally."
Following #275, this should be a first test for the offline support of firebase.

- [ ] The products collection should be stored locally
- [ ] and updated sequentially.
- [ ] The products CRUD should only update the local data.

@rubenspgcavalcante and @bfirsh please correct this issue if I am wrong.

[2018-07-09 13:39] HaGuesto commented on #275
We had a discussion about this issue on skype yesterday (c.f. [meeting minutes](https://docs.google.com/document/d/11Fnnn7QL0KoACNxbP2Newd51daHgZxpRzxMWbIKpCSc/edit?usp=sharing)).
The result is that we going to put more effort to make firebase work. The plan is to download the database to local storage and query it locally. Firebase is offering already most of the tools for downloading and updatin

[2018-07-09 13:47] HaGuesto opened #290 "Write guideline for data management"
Following #275 and #289,
a guide how to download data from firestore collections to local storage, how to update them and query the data locally has to be written.

@rubenspgcavalcante and @bfirsh please correct this issue if I am wrong.

[2018-07-09 13:47] #275 closed

[2018-07-09 13:53] rubenspgcavalcante commented on #278
@bfirsh Some abstractions, if made in the right way, isn't only good for DRY but can, for sure, turn things simpler (even to test!). Take the frameworks and libraries we use as example. I think if we maintain in mind the KISS and the open/closed principles we can achieve something nice :)

I can tell for you that CRUDs tends to grow on the system, (and each one in a different way). It's a hell to

[2018-07-09 13:55] rubenspgcavalcante commented on #290
I still owing you guys a draft of my idea on this case. I'll get some time to work on this ok 👍

[2018-07-09 14:03] HaGuesto commented on #192
I will close this issue since we decided to use Redux. We will work on a style guide to explain how to use Redux (#274).

[2018-07-09 14:03] #192 closed

[2018-07-09 16:05] rubenspgcavalcante commented on #290
Ok my Idea was this:
![untitled diagram](https://user-images.githubusercontent.com/739913/42461768-930efac2-83a1-11e8-9c53-12b52c1378de.png)

We can get information from firebase in case of the user is online, or just get the entire updated state (a simple JSON stored on localstorage) and use it as our initial state (no queries, no worries).
The observables is a must have to keep the app state up-

[2018-07-09 16:43] bfirsh opened #291 "If you're signed in as a user without a profile, it is impossible to sign out"
The sign up process can fail half way, resulting in a user with no profile. The site then fails to load, so there is no sign out button to click!

These accounts are completely broken because they aren't associated with organizations, so we should probably display a helpful error message and sign them out.

[2018-07-10 09:41] rubenspgcavalcante commented on #181
Putting loading to true can bring problems in the future on pages that **doesn't request authentication**. AuthedRoute should be the one responsible to check if there's no user information, on pages which requests the used being logged, wait for something like the action promise or so, and only then take the action of redirecting the user to the login page or not. Currently I think it just checks

[2018-07-10 11:22] bfirsh commented on #181
Presumably if a page doesn't need authentication, you just don't put AuthedRoute in front of it? Then a loading indicator doesn't display. I don't understand why that is a problem.

The initial state is that the logged in state is unknown and is waiting for `onAuthStateChanged` to indicate whether they are logged in or not. It seems semantically correct that it is "loading" during that time.

[2018-07-12 09:59] rubenspgcavalcante commented on #181
Sorry, can't agree as in the case of the page don't have the AuthedRoute, the state shouldn't be `loading: true` as isn't loading any user.
The AuthedRoute should be the one to trigger the user loading action (making the state `loading: true`). The state should start `null` so we know any action was triggered before. Only when `loading` is **actually** false it should take some action over this (r

[2018-07-12 10:10] rubenspgcavalcante commented on #181
Ok, I'll work on that.
As the component is doing two jobs (routing and auth checking) first detach the route from within it and connect it to the necessary state/actions to do the job. We should use it as a HOC, so we can test it with and without authentication, and pass it to the `Route` component.

[2018-07-13 15:36] HaGuesto commented on #179
In our last talk we decided that at this stage we will only write our own scripts for data migration.

So, this is still up for discussion and feel free to propose migration systems. It is just less imminent. :)

[2018-07-13 15:39] HaGuesto commented on #276
In our last talk we decided that we will drop Formik for simplicity and we will write our own forms in the future. How this should look like will be explained in #274.

[2018-07-13 15:39] #276 closed

[2018-07-13 15:40] #107 closed

[2018-07-13 15:45] HaGuesto opened #296 "Add AppBar and GoBack-Arrow to SignIn Page"
Following #288 the SignIn page should be designed similarly as the SignUp-page.
--> Please add a AppBar and GoBack-Arrow to the SignInPage.

[2018-07-16 13:04] HaGuesto commented on #61
I'll try this one.

[2018-07-16 14:57] #181 closed

[2018-07-16 15:38] HaGuesto commented on #274
It sounds good. I also read a bit through your angular guide. Nice!
The only point I would add is forms.

[2018-07-21 02:11] etiennebaque commented on #282
Hi @HaGuesto. I'm trying to help out on this project, and I'm checking out the issues labelled "Good first issue".

About this issue, what about using Bootstrap? (https://getbootstrap.com/). I can try to implement it and see what I can do with it.

[2018-07-22 19:47] barto74 commented on #282
Hi @etiennebaque,
Bootstrap is a very nice library to easily create UI elements. In this project we use the Material UI, a library that does a similar thing, especially made for React and it implements Google Material Design.
But just as with Bootstrap, that needs some work in setting up and interface using the right elements from those libraries.
I have done many projects with Bootstrap in the pa

[2018-07-23 14:19] etiennebaque commented on #282
Hi @barto74,
Thanks very much for your message and for giving me some directions. I don't know React, but I checked out the Material UI documentation as well as the UX sketch, and I managed to get started.
I'll send out a PR whenever I can.

[2018-07-23 14:50] HaGuesto commented on #282
Great @etiennebaque! Looking forward to see it!
Thanks @barto74 for jumping in! :)

[2018-07-23 18:43] barto74 commented on #282
@etiennebaque i'm here if you want to discuss UX and aesthetics - and the others here can help you if you have more technical struggles. And i'm looking forward to see your contributions!

[2018-07-23 21:06] etiennebaque commented on #191
@barto74 @HaGuesto I have a question about the AppBar: If we have access to an AppDrawer, what's the purpose of having a "vertical 3 dots" icon? A click on such an icon would open a menu, but wouldn't it be redundant since we already have the drawer?

[2018-07-23 21:11] barto74 commented on #191
The app drawer is invisible on a mobile screen. And the icon is used to open the drawer. Or are you referring to another one?
In general, i would always advice to start working on UX for mobile and expand to bigger screens from there. In this specific user case, most (or even almost all) of our daily users will use mobile phones for warehouse tasks.

[2018-07-23 21:12] barto74 commented on #191
Oh i think you are referring to the three dots on the right of the screen. That is often used in material to give access to a contextual menu offering filters or other actions to perform on the data displayed.
Forgive me the comments above - they are probably stating the obvious for you.

[2018-07-27 01:43] etiennebaque commented on #191
Thanks for these details @barto74

[2018-07-29 02:05] etiennebaque commented on #282
@barto74 and @HaGuesto: I created a new PR #306, which focuses on the app drawer and the navigation bar. Please give it a review whenever you have some time. Thanks!

[2018-07-31 18:41] etiennebaque commented on #191
Hey @barto74, which library is used for the icons in the product filter? For these buttons with icons, I think I should use the `ProductButton` component. Looks like it's using "fa" classes: was FontAwesome supposed to be used here? I can't find it in `package.json` and looks like Material-UI does not have all the icons used in this sketch file.

I can add and use FontAwesome, but I wanted to doub

[2018-07-31 18:51] barto74 commented on #191
Hi @etiennebaque we had the Fontawesome icons in mind in an earlier state. It is quite a big library though. And we need custom icons for the categories in the future (see #54 for example). So maybe we should for now make some placeholders until those icons have been designed.

[2018-08-01 01:10] etiennebaque commented on #191
Makes sense @barto74. I'll try to add placeholders.

[2018-09-02 06:38] olivererxleben commented on #25
Isnt WebRTC able to handle all of it?

What does mean 'figure out what their status is'?

[2018-09-21 07:22] dependabot[bot] opened #311 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2018-09-24 07:31] #311 closed

[2019-04-11 13:08] jamescrowley opened #393 "Remove react-app-rewired"
Owner of react-app-rewired states:

"As of Create React App 2.0 this repo is "lightly" maintained mostly by the community at this point.
Note: I personally use next.js or Razzle which both support custom Webpack out of the box."

Suggest we evaluate replacing with next.js or Razzle, or just adopting Webpack 4 directly as suggested by @rubenspgcavalcante

[2019-04-11 16:18] jamescrowley opened #394 "Switch to using TypeScript"
Instead of prop types?

[2019-04-12 08:38] rubenspgcavalcante commented on #393
This was one of the thing I forgot to discuss on the meeting, I think we should get rid of create-react-app on the rewrite/refactor. It's a excellent tool, for prototypes and MVPs, but when the project grows a little it start to give too much headache. Plus CRA add tons of unnecessary dependency like react-native (just check the generated webpack config, it's a mess).
Webpack v4 already gives the

[2019-04-12 08:42] rubenspgcavalcante commented on #393
Ah just realized, the project will be SSR? If so, it's good to plan the integration with the REST API. A monorepo sounds good for this. One package for the API another for SSR, the server requiring the API. Remember that next.js is a mix of SSR and SPA, just the first render is on the server, all the request it's required to have the REST server to fetch the data. Never used razzle thou

[2019-04-12 08:47] rubenspgcavalcante commented on #394
It's a option, but I'm afraid to add more complexity to the project. Maybe use it only on the core API (see #393)?
Even prop-types, I discussed with Hans about it, for me it's unnecessary on a simple project.
I do prefer to write more tests than typing the code 🤔
I'm in favor to make this app as simple as possible you know 😬

[2019-04-13 16:48] jamescrowley opened #404 "Remove react-firestore"
The library describes "You want to use the new Firestore database from Google, but don't want to have to use redux or any other state management tool.". Given we're using Redux, this seems like a clash here.

[2019-04-13 16:52] jamescrowley commented on #393
@rubenspgcavalcante not sure on SSR yet, only suggested next.js and Razzle on the basis the owner of react-app-rewired states:

"As of Create React App 2.0 this repo is "lightly" maintained mostly by the community at this point.
Note: I personally use next.js or Razzle which both support custom Webpack out of the box."

[2019-04-13 16:54] jamescrowley commented on #394
Just looking for a few more safety nets for the code base in addition to tests, and making refactoring more straightforward - but will need to evaluate how much of a pain doing the type annotation is in a React world as I've not experienced that yet.

[2019-04-15 13:29] #393 closed

[2019-04-17 12:31] jamescrowley opened #409 "Can't sign up a new organisation (sometimes)"
Getting a firebase permissions error when creating an organisation, while waiting for the invite link to be generated. This happens with the Chrome developer tools open, but I've also had it happen without. I suspect this is a timing/concurrency issue as the code around this workflow looks suspect.

https://sentry.io/organizations/boxwise/issues/989067618/?project=1217716&referrer=slack

[2019-04-18 09:53] jamescrowley commented on #40
Some options here: https://github.com/willhlaw/node-firestore-backup-restore/issues/26

[2019-04-18 12:46] jamescrowley opened #414 "Set up code coverage tracking"
Using Codecov? Will need to push from Travis CI

[2019-04-18 12:48] jamescrowley commented on #156
Suggest we use FormHelperText with the 'error' flag set to true.

[2019-04-18 13:01] jamescrowley opened #415 "Remove 'expect-firestore' and use firebase emulator to test security rules"
Currently we use expect-firestore, which is a pretty dead library - https://github.com/GitbookIO/expect-firestore.

Instead, we should probably follow the suggestions here: https://firebase.google.com/docs/firestore/security/test-rules-emulator and use the rules emulator.

They will need to run in a NodeJS context rather than client-side context.

There is an example project: https://github.com/fi

[2019-04-19 15:31] DurkoMatko commented on #414
there already is a `.travis.yml` file in the repo...seems it runs tests and builds/deploys master to boxwise-production...I'm not sure what should be changed here

[2019-04-19 20:28] jamescrowley commented on #414
@DurkoMatko we run the tests & builds automatically - however, code coverage tells you what % of code is actually covered by tests - so it's useful to spot gaps in the code base that are not being tested sufficiently. To do that we need to do two things:

1. Run Yarn with coverage mode turned on
2. Upload the results to codecov
3. (Nice to have) Add the code coverage badge to our readme, to link t

[2019-04-20 07:34] DurkoMatko commented on #414
I don't have write rights for this repo so I can't setup codecov. I've set it up on my own fork. Can you check it if it's what you meant should be done? (Test coverage reports are generated and uploaded to codecov + added the badge)

Here the commit: https://github.com/DurkoMatko/boxwise/commit/086b09f45fcaf56c848bb778d76e433fbe0b6c02

[2019-04-20 09:33] jamescrowley commented on #414
@DurkoMatko great 👍 Just to record here as already discussed, we'll encrypt the cc token using Travis, as it's not safe to push the cc_token (https://docs.travis-ci.com/user/environment-variables#encrypting-environment-variables)

[2019-04-20 13:53] #414 closed

[2019-04-20 13:53] jamescrowley commented on #291
@HaGuesto do you remember how to reproduce this? I haven't been able to - maybe the sign up workflow changed?

[2019-04-20 13:57] jamescrowley commented on #287
I'm closing this for now, until CRA actually blocks us doing anything on the revised roadmap. Will look again when we come to the QR Code scanning.

[2019-04-20 13:57] #287 closed

[2019-04-22 18:37] #156 closed

[2019-04-23 05:40] jamescrowley commented on #409
Hopefully fixed by github.com/boxwise/boxwise/commit/0b4d295

[2019-04-23 05:41] #409 closed

[2019-05-04 17:10] jamescrowley commented on #291
Closing as can no longer reproduce.

[2019-05-04 17:10] #291 closed

[2019-05-04 17:11] jamescrowley commented on #280
This has been fixed by https://github.com/boxwise/boxwise/pull/463 and previous removals of Formik

[2019-05-04 17:11] #280 closed

[2019-05-05 11:55] DurkoMatko opened #466 "Add product dialog fields are not cleared"
Repeatedly clicking **Add product** button in _/products_ page shows previously used values.

[2019-05-17 16:43] HaGuesto opened #502 "CRUDs for products"
I drew up a comparison of the data model of Odoo and the old Drop App and what I think what we should do in noSQL Firebase world.

### Drop App
![ink (2)](https://user-images.githubusercontent.com/29065125/57943072-689c0a00-78d3-11e9-984f-e9c2f7f2d274.png)

### Odoo
![ink](https://user-images.githubusercontent.com/29065125/57943049-5b7f1b00-78d3-11e9-886a-0377c6d5c44b.png)

### Boxwise
![ink (1)](

[2019-05-18 11:21] HaGuesto opened #505 "Product menu"

[2019-05-18 11:25] HaGuesto opened #506 "category CRUD"
## Context
Categories, products and attributes are one of the first things which need to be defined for both shop and WH. At the moment we can load and edit them through a node module into our database.
However for quick edits we probably want to have a CRUDs in the frontend.

## Open questions
- Do we want to show the menues to the user? If not, is this task important enough for now?
- @jamescrow

[2019-05-18 11:26] HaGuesto opened #507 "attributes CRUD"

[2019-05-18 14:46] HaGuesto commented on #92
@jamescrowley I think we should close this issue and discuss next meeting how our menu should look like.

I created a new issue for it #505

[2019-05-18 14:46] HaGuesto commented on #281
@jamescrowley I think we should close this issue and discuss next meeting how our menu should look like.

I created a new issue for it #505

[2019-05-18 14:46] HaGuesto commented on #282
@jamescrowley I think we should close this issue and discuss next meeting how our menu should look like.

I created a new issue for it #505

[2019-05-18 14:53] HaGuesto commented on #505
@DurkoMatko I think we should hold back with creating new menu items for products until we talked about this.

[2019-05-18 14:54] HaGuesto commented on #502
We should think how to add icons for categories and products.

[2019-05-18 15:23] HaGuesto commented on #279
@jamescrowley you refactored the ProductDialog, right?

[2019-05-18 15:26] HaGuesto commented on #278
@DurkoMatko This is what we talked about today

@jamescrowley do you have an opinion? Should we add this abstraction layer now before we create CRUDs for category and attributes in #506 and #507

[2019-05-18 15:27] #277 closed

[2019-05-18 15:32] #185 closed

[2019-05-18 15:39] HaGuesto commented on #68
@jamescrowley I think we should close this issue and discuss next meeting how our menu should look like.

I created a new issue for it #505

[2019-05-18 15:40] #73 closed

[2019-05-18 20:44] DurkoMatko commented on #505
@HaGuesto Ok.

[2019-05-18 20:50] DurkoMatko commented on #502
@HaGuesto @james I guess FontAwesome would be the easiest way to go. At least that's what we use at work in almost all projects soo I feel it might be almost a standard these days (?).

[2019-05-19 14:39] #68 closed

[2019-05-19 14:41] jamescrowley commented on #506
I think just copy and paste for now - it's already been simplified a fair amount, and if we spot other patterns we want to optimise (validation might be one of them), then can do that.

[2019-05-19 14:43] jamescrowley commented on #506
Rather than assuming CRUD I think it's good to consider the actual *scenarios* around why you'd update or delete - there may be a few, in which case we should model this, and the impact on other dependent entities in the system.

[2019-05-19 14:45] jamescrowley commented on #466
This has been fixed

[2019-05-19 14:45] #466 closed

[2019-05-19 21:35] jamescrowley commented on #279
Yep still need to do boxes, but maybe not a priority for now

[2019-05-19 21:36] #281 closed

[2019-05-19 21:36] #282 closed

[2019-05-23 09:10] HaGuesto commented on #505
I like the structure of [vend](https://www.vendhq.com/)

![image](https://user-images.githubusercontent.com/29065125/58240486-5f83c080-7d4b-11e9-99f4-113075a20ae4.png)

[2019-05-23 09:13] HaGuesto commented on #506
I can imagine that update and delete might be tough.
delete for example should only possible if there are no connected product.
updates should also affect all entries of products.

maybe u and d  of CRUDs we skip for now :)